@charset "utf-8";
/** 全局样式 **/

#box_222 .product_list_more a {
    color: #636361;
    display: block;
    width: 85px;
    background: url(arrow2.jpg) no-repeat 53px center;
}

#box_222 .type {
    display: none
}

#box_222 .FrontProducts_list01-d1_c1 {
    width: 100%;
    margin: 0 auto;
    clear: both;
    overflow: hidden;
    text-align: left;
    zoom: 1;
    margin-top: 10px;
    margin-left: 0px;
}

#box_222 .FrontProducts_list01-d1_c1 .clearBoth {
    font-size: 0px;
    margin: 0px;
    padding: 0px;
    height: 0px;
    width: 0;
    line-height: 0;
    clear: both;
}

#box_222 .FrontProducts_list01-d1_c1 .column-num3 {
    width: 240px;
}

#box_222 .FrontProducts_list01-d1_c1 ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#box_222 .FrontProducts_list01-d1_c1 ul li {
    margin: 0;
    padding: 0;
}

#box_222 .FrontProducts_list01-d1_c1 ul {
    width: 100%;
}

/** 链接 **/

#box_222 .FrontProducts_list01-d1_c1 a {
    color: #636361;
    text-decoration: none;
    font-weight: normal;
}

#box_222 .FrontProducts_list01-d1_c1 a:hover {
    color: #636361;
    text-decoration: underline;
}

/*#box_222 .FrontProducts_list01-d1_c1 .button {

	width:52px;

	height:22px;

	line-height:22px;

	text-align:left;

	border:0;

	padding:0 0 0 6px;*/

/* firefox */

/*	padding:2px 0 0 9px \9; */

/* ie8 */

/* *padding:1px 0 0 9px;*/

/* ie6、ie7 */

/*	margin:0;

}

#box_222 .FrontProducts_list01-d1_c1 .button-on {

	background:url(../../images/products/btn-gray1-05.gif) left top no-repeat;

	color:#c0c0c0;

}

#box_222 .FrontProducts_list01-d1_c1 .button-up {

	background:url(../../images/products/btn-gray1-06.gif) left top no-repeat;

	color:#666464;

}*/

/** 重点文字 **/

#box_222 .FrontProducts_list01-d1_c1 .focustext {
    color: #f39800;
    font-style: normal;
}

/** 选择浏览方式、排序方式样式 **/

#box_222 .FrontProducts_list01-d1_c1 .type {
    float: left;
    width: 100%;
    margin: 0;
    /*height:0;*/
    /*常磊修改*/
}

#box_222 .FrontProducts_list01-d1_c1 .type span.skim {
    float: left;
}

#box_222 .FrontProducts_list01-d1_c1 .type span.sort {
    float: right;
}

#box_222 .FrontProducts_list01-d1_c1 .type span.sort select {
    float: left;
}

#box_222 .FrontProducts_list01-d1_c1 .type span.sort .ph {
    float: left;
    width: 19px;
    height: 12px;
    margin: 5px 4px 0 0;
    text-indent: -9999px;
    overflow: hidden;
    background: url(../../images/products/icon-07.gif) 0 0 no-repeat;
}

#box_222 .FrontProducts_list01-d1_c1 .type span.sort .ph1:hover {
    background: url(../../images/products/icon-07.gif) 0 -12px no-repeat;
}

#box_222 .FrontProducts_list01-d1_c1 .type span.sort .ph2 {
    background: url(../../images/products/icon-08.gif) 0 0 no-repeat;
}

#box_222 .FrontProducts_list01-d1_c1 .type span.sort .ph2:hover {
    background: url(../../images/products/icon-08.gif) 0 -12px no-repeat;
}

#box_222 .FrontProducts_list01-d1_c1 .type span.sort .ph3 {
    width: 13px;
    height: 13px;
    background: url(../../images/products/icon-09.gif) 0 0 no-repeat;
}

#box_222 .FrontProducts_list01-d1_c1 .type span.sort .ph3:hover {
    background: url(../../images/products/icon-09.gif) 0 -14px no-repeat;
}

#box_222 .FrontProducts_list01-d1_c1 .type span.sort .ph4 {
    width: 13px;
    height: 13px;
    background: url(../../images/products/icon-10.gif) 0 0 no-repeat;
}

#box_222 .FrontProducts_list01-d1_c1 .type span.sort .ph4:hover {
    background: url(../../images/products/icon-10.gif) 0 -14px no-repeat;
}

#box_222 .FrontProducts_list01-d1_c1 .type span.skim a {
    padding-right: 5px;
}

#box_222 .FrontProducts_list01-d1_c1 .type span.skim a img {
    border: 0;
    vertical-align: middle;
}

#box_222 .FrontProducts_list01-d1_c1 .content {
    overflow: hidden;
    float: left;
    text-align: center;
}

/** 图片部分 **/

#box_222 .FrontProducts_list01-d1_c1 .content .pic-module {
    text-align: center;
    overflow: hidden;
    clear: both;
    margin: 0 auto;
    width: 168px;
}

#box_222 .FrontProducts_list01-d1_c1 .content .pic-module .img a {}

/** 属性部分 **/

#box_222 .FrontProducts_list01-d1_c1 .content .pro-module {
    text-align: center;
    overflow: hidden;
    width: 168px;
    height: 30px;
    line-height: 30px;
    margin: 5px auto 0px;
}

/** 商品详细部分 **/

#box_222 .FrontProducts_list01-d1_c1 .detail {
    clear: both;
}

/** 大图片样式 **/

#box_222 .FrontProducts_list01-d1_c1 .pic-module .pic {
    /*width:180px;
height:147px;
margin:0 auto;*/
}

#box_222 .FrontProducts_list01-d1_c1 .pic-module .pic a {
    display: block;
    height: 107px;
    width: 162px;
    border: 1px solid #DDDDDD;
    text-align: center;
    padding: 2px;
}

#box_222 .FrontProducts_list01-d1_c1 .pic-module .pic a:hover {
    /*	display:block; 
		width:154px;
	height:115px;*/
    border: 1px solid #003f80;
}

#box_222 .FrontProducts_list01-d1_c1 .pic-module .pic a img {
    height: 107px;
    width: 162px
}

/** 特殊标记 **/

#box_222 .FrontProducts_list01-d1_c1 .pic-module span.lab {
    position: absolute;
    top: 65px;
    /* 根据商品图片大小调整*/
    left: 10px;
    z-index: 999;
    cursor: pointer;
}

#box_222 .FrontProducts_list01-d1_c1 .pic-module span.lab img {
    height: 40px;
    width: 40px;
}

#box_222 .FrontProducts_list01-d1_c1 .pic-module .compare {
    padding-top: 10px;
    text-align: left;
    padding-left: 20px;
}

#box_222 .FrontProducts_list01-d1_c1 .pic-module .compare a {
    background: url(btn_compare.jpg);
    width: 40px;
    height: 22px;
    display: block;
    color: #333;
    line-height: 22px;
    padding-left: 12px;
    text-decoration: none;
}

/** 标题样式 **/

#box_222 .FrontProducts_list01-d1_c1 .pro-module .buttonP .btna {
    display: block;
    width: 40px;
    height: 22px;
    color: #3b3a3a;
    line-height: 22px;
    padding-left: 12px;
    background: url(btn_inquiry.jpg);
    text-decoration: none;
}

#box_222 .FrontProducts_list01-d1_c1 .pro-module h1 {
    margin: 0;
    font-size: 12px;
    color: #3b3a3a;
    font-weight: bold;
}

#box_222 .FrontProducts_list01-d1_c1 .pro-module h1 a {
    color: #3b3a3a;
    font-weight: normal;
}

#box_222 .FrontProducts_list01-d1_c1 .pro-module h1 span {
    color: #231815;
}

/** 属性样式 **/

#box_222 .FrontProducts_list01-d1_c1 .pro-module ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#box_222 .FrontProducts_list01-d1_c1 .pro-module ul li {
    line-height: 23px;
    color: #231815;
    text-align: center;
}

#box_222 .FrontProducts_list01-d1_c1 .pro-module ul li span {
    color: #666464;
    font-weight: normal;
}

/** 商品编码 重点文字 **/

#box_222 .FrontProducts_list01-d1_c1 .pro-module ul li.code {
    color: #f39800;
    font-weight: bold;
}

#box_222 .FrontProducts_list01-d1_c1 .pro-module ul li.code span {
    display: none;
}

/** 品牌名称、商标 链接 **/

#box_222 .FrontProducts_list01-d1_c1 .pro-module ul li.name a {
    color: #0068b7;
    text-decoration: none;
}

#box_222 .FrontProducts_list01-d1_c1 .pro-module ul li.name strong {
    font-weight: normal;
}

/** 重量、浏览次数 重点文字 **/

#box_222 .FrontProducts_list01-d1_c1 .pro-module ul li.weight,
#box_222 .FrontProducts_list01-d1_c1 .pro-module ul li.skim {
    color: #f39800;
}

/** 市场价 **/

#box_222 .FrontProducts_list01-d1_c1 .pro-module ul li.marketprice label {
    text-decoration: line-through;
}

/** 会员价 **/

#box_222 .FrontProducts_list01-d1_c1 .pro-module ul li.memberprice label {
    color: #e60012;
    font-size: 13px;
}

/** 积分、折扣、节省 重点文字 **/

#box_222 .FrontProducts_list01-d1_c1 .pro-module ul li.integral,
#box_222 .FrontProducts_list01-d1_c1 .pro-module ul li.discount,
#box_222 .FrontProducts_list01-d1_c1 .pro-module ul li.save {
    padding: 0 15px 0 0;
    color: #f39800;
}

/** 尺寸 链接 **/

#box_222 .FrontProducts_list01-d1_c1 .pro-module ul li.size {
    clear: both;
}

#box_222 .FrontProducts_list01-d1_c1 .pro-module ul li.size a {
    background: url(../../images/products/size_bg.gif) left top repeat-x;
    height: 13px;
    color: #0068b7;
    text-decoration: none;
    border: 1px solid #adb9c2;
    padding: 0 3px;
    margin: 0 5px 0 0;
}

/** 选择颜色 **/

#box_222 .FrontProducts_list01-d1_c1 .pro-module ul li.color label {
    padding-right: 10px;
}

#box_222 .FrontProducts_list01-d1_c1 .pro-module ul li.color img {
    vertical-align: middle;
    padding-left: 2px;
}

/** 评论 链接 **/

#box_222 .FrontProducts_list01-d1_c1 .pro-module ul li.comment1 a {
    color: #0068b7;
    text-decoration: none;
}

#box_222 .FrontProducts_list01-d1_c1 .pro-module ul li.comment2 {
    clear: both;
    vertical-align: middle;
    padding-right: 5px;
}

#box_222 .FrontProducts_list01-d1_c1 .pro-module ul li.comment2 img {
    vertical-align: middle;
    padding-right: 5px;
}

/** 购买需填项、购买数量 **/

#box_222 .FrontProducts_list01-d1_c1 .pro-module ul li .input {
    border: 1px solid #ddddde;
    height: 15px;
    line-height: 15px;
    width: 80px;
}

#box_222 .FrontProducts_list01-d1_c1 .pro-module ul li .inputgray {
    color: #ccc;
    font-size: 12px;
}

#box_222 .FrontProducts_list01-d1_c1 .pro-module ul li.number span {
    padding-left: 12px;
}

/** 缺货 **/

#box_222 .FrontProducts_list01-d1_c1 .pro-module ul li.outstock img {
    vertical-align: middle;
}

/** 按钮 **/

#box_222 .FrontProducts_list01-d1_c1 .pro-module p.buttonP {
    margin: 5px 0 0 0;
    clear: both;
    padding-left: 20px;
}

#box_222 .FrontProducts_list01-d1_c1 .pro-module p.buttonP .btna {
    margin-right: 3px;
}

#box_222 .FrontProducts_list01-d1_c1 .pro-module p.buttonP a {
    white-space: nowrap;
}

#box_222 .FrontProducts_list01-d1_c1 .pro-module p.buttonP .btna span {}

#box_222 .FrontProducts_list01-d1_c1 .pro-module p.buttonP span.buy a,
#box_222 .FrontProducts_list01-d1_c1 .pro-module p.buttonP span.price a {
    color: #3b3a3a;
}

#box_222 .FrontProducts_list01-d1_c1 .pro-module p.buttonP span.favor a,
#box_222 .FrontProducts_list01-d1_c1 .pro-module p.buttonP span.qq a {
    color: #727171;
}

#box_222 .FrontProducts_list01-d1_c1 .pro-module p.buttonP span a:hover {
    text-decoration: none;
}

#box_222 .FrontProducts_list01-d1_c1 .pro-module p.buttonP span.buy,
#box_222 .FrontProducts_list01-d1_c1 .pro-module p.buttonP span.price {
    float: left;
    background: url(../../images/products/btn-blue1-02.gif) left top no-repeat;
}

#box_222 .FrontProducts_list01-d1_c1 .pro-module p.buttonP span.favor {
    float: left;
    background: url(../../images/products/btn-gray1-02.gif) left top no-repeat;
    color: #727171;
}

#box_222 .FrontProducts_list01-d1_c1 .pro-module p.buttonP span.qq {
    background: url(../../images/products/btn-gray1-03.gif) left top no-repeat;
    width: 51px;
    color: #727171;
}

/** 商品描述 **/

#box_222 .FrontProducts_list01-d1_c1 .pro-module .describe {
    color: #666464;
    line-height: 24px;
    clear: both;
}

#box_222 .FrontProducts_list01-d1_c1 .pro-module .describe span {}

/** 营销类型、关键词、下载 链接 **/

#box_222 .FrontProducts_list01-d1_c1 .other {
    margin: 10px 0 0 0;
}

#box_222 .FrontProducts_list01-d1_c1 .other p {
    margin: 0;
    height: 20px;
    color: #666464;
}

#box_222 .FrontProducts_list01-d1_c1 .other p a {
    color: #0068b7;
    text-decoration: none;
}

/** 翻页 **/

#box_222 .FrontProducts_list01-d1_c1 .skip-pages {
    clear: both;
    width: 100%;
    overflow: hidden;
    text-align: right;
    margin-top: 10px;
}

/** 商标弹出层 **/

#box_222 .FrontProducts_list01-d1_c1 .pop-brand {
    position: absolute;
    left: 205px;
    top: 120px;
    width: 229px;
    z-index: 9999;
    color: #231815;
}

#box_222 .FrontProducts_list01-d1_c1 .pop-picbig {
    position: absolute;
    left: 120px;
    top: 160px;
    width: 229px;
    z-index: 9999;
    color: #231815;
    border: 1px solid #000;
    padding: 5px;
}

#box_222 .FrontProducts_list01-d1_c1 .pop-picbig img {
    width: 400px;
    height: 300px;
}

#box_222 .FrontProducts_list01-d1_c1 .pop-brand p.top {
    background: url(../../images/products/pop-top.gif) left top no-repeat;
    margin: 0;
    height: 23px;
    text-align: right;
    padding: 20px 15px 0 0;
}

#box_222 .FrontProducts_list01-d1_c1 .pop-brand p.top a.close {
    background: url(../../images/products/close.gif) right top no-repeat;
    width: 24px;
    height: 17px;
    display: block;
    float: right;
}

#box_222 .FrontProducts_list01-d1_c1 .pop-brand p.top a.close:hover {
    background: url(../../images/products/close-hover.gif) right top no-repeat;
}

#box_222 .FrontProducts_list01-d1_c1 .pop-brand .intro {
    padding: 5px 0;
    background: url(../../images/products/pop-bg.gif) left top repeat-y;
}

#box_222 .FrontProducts_list01-d1_c1 .pop-brand .intro p.pic {
    text-align: center;
    margin: 0;
}

#box_222 .FrontProducts_list01-d1_c1 .pop-brand .intro p.pic img {
    padding: 5px;
    width: 150px;
    height: 115px;
    border: 1px solid #d7d7d7;
    _margin-bottom: 1px;
}

#box_222 .FrontProducts_list01-d1_c1 .pop-brand .intro h4 {
    font-size: 12px;
    margin: 15px 0 0 15px;
}

#box_222 .FrontProducts_list01-d1_c1 .pop-brand .intro .info {
    padding: 5px 15px;
    line-height: 18px;
    font-size: 12px;
}

#box_222 .FrontProducts_list01-d1_c1 .pop-brand .intro p.address {
    margin: 10px 0 0 15px;
    font-size: 12px;
}

/** 链接 **/

#box_222 .FrontProducts_list01-d1_c1 .pop-brand .intro p.address a {
    color: #007dcc;
    text-decoration: none;
}

#box_222 .FrontProducts_list01-d1_c1 .pop-brand p.bottom {
    background: url(../../images/products/pop-bottom.gif) left bottom no-repeat;
    height: 17px;
    margin: 0;
    font-size: 0;
}

/**关闭按钮**/

#box_222 .FrontProducts_list01-d1_c1 .pop-picbig a.close {
    position: absolute;
    right: -10px;
    top: -8px;
    background: url(../../images/products/ad-close-01.gif) left top no-repeat;
    display: block;
    width: 18px;
    height: 18px;
}

#box_222 .FrontProducts_list01-d1_c1 .pop-picbig a.close:hover {
    background: url(../../images/products/ad-close-02.gif) left top no-repeat;
}

#box_222 .FrontProducts_list01-d1_c1 .mainul {
    width: 100%;
    overflow: hidden;
    zoom: 1;
}

#box_222 .FrontProducts_list01-d1_c1 .column-num4 {
    overflow: hidden;
    height: auto;
    width: 180px;
    margin: 0 auto;
}

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 {
    width: 98%;
    margin: 0 auto;
    clear: both;
    height: 100%;
    overflow: hidden;
    text-align: left;
    padding: 5px;
}

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .column-num3 {
    width: 33%;
}

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-left: 10px;
}

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 ul li {
    margin: 0;
    padding: 0;
}

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 ul {
    width: 100%;
}

/** 链接 **/

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 a {
    color: #636361;
    text-decoration: none;
}

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 a:hover {
    color: #636361;
    text-decoration: underline;
}

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .button {
    width: 52px;
    height: 22px;
    line-height: 22px;
    text-align: left;
    border: 0;
    padding: 0 0 0 6px;
    /* firefox */
    padding: 2px 0 0 9px \9;
    /* ie8 */
    *padding: 1px 0 0 9px;
    /* ie6、ie7 */
    margin: 0;
}

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .button-on {
    background: url(../../images/products/btn-gray1-05.gif) left top no-repeat;
    color: #c0c0c0;
}

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .button-up {
    background: url(../../images/products/btn-gray1-06.gif) left top no-repeat;
    color: #666464;
}

/** 重点文字 **/

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .focustext {
    color: #f39800;
    font-style: normal;
}

/** 选择浏览方式、排序方式样式 **/

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .type {
    float: left;
    margin: 0;
    height: 0;
    width: 0;
    padding: 0;
}

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .type span.skim {
    float: left;
}

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .type span.sort {
    float: right;
}

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .type span.sort select {
    float: left;
}

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .type span.sort .ph {
    float: left;
    width: 19px;
    height: 12px;
    margin: 5px 4px 0 0;
    text-indent: -9999px;
    overflow: hidden;
    background: url(../../images/products/icon-07.gif) 0 0 no-repeat;
}

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .type span.sort .ph1:hover {
    background: url(../../images/products/icon-07.gif) 0 -12px no-repeat;
}

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .type span.sort .ph2 {
    background: url(../../images/products/icon-08.gif) 0 0 no-repeat;
}

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .type span.sort .ph2:hover {
    background: url(../../images/products/icon-08.gif) 0 -12px no-repeat;
}

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .type span.sort .ph3 {
    width: 13px;
    height: 13px;
    background: url(../../images/products/icon-09.gif) 0 0 no-repeat;
}

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .type span.sort .ph3:hover {
    background: url(../../images/products/icon-09.gif) 0 -14px no-repeat;
}

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .type span.sort .ph4 {
    width: 13px;
    height: 13px;
    background: url(../../images/products/icon-10.gif) 0 0 no-repeat;
}

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .type span.sort .ph4:hover {
    background: url(../../images/products/icon-10.gif) 0 -14px no-repeat;
}

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .type span.skim a {
    padding-right: 5px;
}

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .type span.skim a img {
    border: 0;
    vertical-align: middle;
}

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .content {
    float: left;
    overflow: hidden;
    /*margin-bottom:10px;*/
    margin: 0px;
    padding: 0px;
}

/** 图片部分 **/

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .content .pic-module {
    float: left;
    position: relative;
}

/** 属性部分 **/

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .content .pro-module {
    float: left;
    width: 50%;
    margin-left: 6px;
    text-align: left;
    margin-top: -15px;
}

/** 商品详细部分 **/

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .detail {
    clear: both;
}

/** 大图片样式 **/

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .pic-module {
    float: left;
}

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .pic-module .pic {}

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .pic-module .pic a {
    text-align: center;
    display: block;
    border: 1px solid #e6e7e7;
    padding: 3px;
    width: auto;
    height: auto;
}

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .pic-module .pic a:hover {
    border: 1px solid #F60;
    background: #3b3a3a4ce;
}

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .pic-module .pic a img {
    width: 90px;
    height: 60px;
    border: 0;
}

/** 特殊标记 **/

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .pic-module span.lab {
    position: absolute;
    top: 35px;
    /* 根据商品图片大小调整*/
    left: 10px;
    z-index: 999;
    cursor: pointer;
}

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .pic-module span.lab img {
    height: 40px;
    width: 40px;
}

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .pic-module .compare {
    padding-top: 10px;
}

/** 标题样式 **/

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .pro-module {
    float: left;
}

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .pro-module h1 {
    margin: 0;
    font-size: 12px;
    color: #0068cc;
}

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .pro-module h1 span {
    color: #231815;
}

/** 属性样式 **/

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .pro-module ul {
    margin: 10px 0 0 0;
    padding: 0;
    list-style: none;
}

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .pro-module ul li {
    line-height: 23px;
    color: #231815;
}

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .pro-module ul li span {
    color: #666464;
    font-weight: normal;
}

/** 商品编码 重点文字 **/

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .pro-module ul li.code {
    color: #f39800;
    font-weight: bold;
}

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .pro-module ul li.code span {
    display: none;
}

/** 品牌名称、商标 链接 **/

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .pro-module ul li.name a {
    color: #0068b7;
    text-decoration: none;
}

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .pro-module ul li.name strong {
    font-weight: normal;
}

/** 重量、浏览次数 重点文字 **/

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .pro-module ul li.weight,
#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .pro-module ul li.skim {
    color: #f39800;
}

/** 市场价 **/

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .pro-module ul li.marketprice label {
    text-decoration: line-through;
}

/** 会员价 **/

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .pro-module ul li.memberprice label {
    color: #e60012;
    font-size: 13px;
}

/** 积分、折扣、节省 重点文字 **/

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .pro-module ul li.integral,
#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .pro-module ul li.discount,
#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .pro-module ul li.save {
    padding: 0 15px 0 0;
    color: #f39800;
}

/** 尺寸 链接 **/

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .pro-module ul li.size {
    clear: both;
}

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .pro-module ul li.size a {
    background: url(../../images/products/size_bg.gif) left top repeat-x;
    height: 13px;
    color: #0068b7;
    text-decoration: none;
    border: 1px solid #adb9c2;
    padding: 0 3px;
    margin: 0 5px 0 0;
}

/** 选择颜色 **/

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .pro-module ul li.color label {
    padding-right: 10px;
}

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .pro-module ul li.color img {
    vertical-align: middle;
    padding-left: 2px;
}

/** 评论 链接 **/

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .pro-module ul li.comment1 a {
    color: #0068b7;
    text-decoration: none;
}

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .pro-module ul li.comment2 {
    clear: both;
    vertical-align: middle;
    padding-right: 5px;
}

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .pro-module ul li.comment2 img {
    vertical-align: middle;
    padding-right: 5px;
}

/** 购买需填项、购买数量 **/

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .pro-module ul li .input {
    border: 1px solid #ddddde;
    height: 15px;
    line-height: 15px;
    width: 80px;
}

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .pro-module ul li .inputgray {
    color: #ccc;
    font-size: 12px;
}

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .pro-module ul li.number span {
    padding-left: 12px;
}

/** 缺货 **/

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .pro-module ul li.outstock img {
    vertical-align: middle;
}

/** 按钮 **/

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .pro-module p.buttonP {
    margin: 10px 0 0 0;
    clear: both;
}

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .pro-module p.buttonP .btna {
    margin-right: 3px;
}

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .pro-module p.buttonP a {
    white-space: nowrap;
}

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .pro-module p.buttonP .btna span {}

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .pro-module p.buttonP span.buy a,
#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .pro-module p.buttonP span.price a {
    color: #3b3a3a;
}

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .pro-module p.buttonP span.favor a,
#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .pro-module p.buttonP span.qq a {
    color: #727171;
}

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .pro-module p.buttonP span a:hover {
    text-decoration: none;
}

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .pro-module p.buttonP span.buy,
#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .pro-module p.buttonP span.price {
    float: left;
    background: url(../../images/products/btn-blue1-02.gif) left top no-repeat;
}

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .pro-module p.buttonP span.favor {
    float: left;
    background: url(../../images/products/btn-gray1-02.gif) left top no-repeat;
    color: #727171;
}

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .pro-module p.buttonP span.qq {
    background: url(../../images/products/btn-gray1-03.gif) left top no-repeat;
    width: 51px;
    color: #727171;
}

/** 商品描述 **/

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .pro-module .describe {
    margin: 5px 0 10px 0;
    color: #666464;
    line-height: 20px;
    clear: both;
}

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .pro-module .describe span {
    font-weight: bold;
}

/** 营销类型、关键词、下载 链接 **/

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .other {
    margin: 10px 0 0 0;
}

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .other p {
    margin: 0;
    height: 20px;
    color: #666464;
}

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .other p a {
    color: #0068b7;
    text-decoration: none;
}

/** 翻页 **/

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .skip-pages {
    clear: both;
    width: 100%;
    overflow: hidden;
    text-align: right;
    margin-top: 10px;
}

/** 商标弹出层 **/

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .pop-brand {
    position: absolute;
    left: 205px;
    top: 120px;
    width: 229px;
    z-index: 9999;
    color: #231815;
}

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .pop-picbig {
    position: absolute;
    left: 120px;
    top: 160px;
    width: 229px;
    z-index: 9999;
    color: #231815;
    border: 1px solid #000;
    padding: 5px;
}

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .pop-picbig img {
    width: 400px;
    height: 300px;
}

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .pop-brand p.top {
    background: url(../../images/products/pop-top.gif) left top no-repeat;
    margin: 0;
    height: 23px;
    text-align: right;
    padding: 20px 15px 0 0;
}

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .pop-brand p.top a.close {
    background: url(../../images/products/close.gif) right top no-repeat;
    width: 24px;
    height: 17px;
    display: block;
    float: right;
}

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .pop-brand p.top a.close:hover {
    background: url(../../images/products/close-hover.gif) right top no-repeat;
}

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .pop-brand .intro {
    padding: 5px 0;
    background: url(../../images/products/pop-bg.gif) left top repeat-y;
}

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .pop-brand .intro p.pic {
    text-align: center;
    margin: 0;
}

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .pop-brand .intro p.pic img {
    padding: 5px;
    width: 150px;
    height: 115px;
    border: 1px solid #d7d7d7;
    _margin-bottom: 1px;
}

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .pop-brand .intro h4 {
    font-size: 12px;
    margin: 15px 0 0 15px;
}

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .pop-brand .intro .info {
    padding: 5px 15px;
    line-height: 18px;
    font-size: 12px;
}

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .pop-brand .intro p.address {
    margin: 10px 0 0 15px;
    font-size: 12px;
}

/** 链接 **/

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .pop-brand .intro p.address a {
    color: #007dcc;
    text-decoration: none;
}

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .pop-brand p.bottom {
    background: url(../../images/products/pop-bottom.gif) left bottom no-repeat;
    height: 17px;
    margin: 0;
    font-size: 0;
}

/**关闭按钮**/

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .pop-picbig a.close {
    position: absolute;
    right: -10px;
    top: -8px;
    background: url(../../images/products/ad-close-01.gif) left top no-repeat;
    display: block;
    width: 18px;
    height: 18px;
}

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .pop-picbig a.close:hover {
    background: url(../../images/products/ad-close-02.gif) left top no-repeat;
}

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .mainul {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

#elem-FrontProducts_list01-005 #box_222 .FrontProducts_list01-d1_c1 .column-num4 {
    width: 24.5%;
}

/*elem-FrontProducts_list01-205*/

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 {
    width: 98%;
    margin: 0 auto;
    clear: both;
    height: 100%;
    overflow: hidden;
    text-align: left;
    padding: 5px;
}

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .column-num3 {
    width: 33%;
}

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-left: 10px;
}

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 ul li {
    margin: 0;
    padding: 0;
}

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 ul {
    width: 100%;
}

/** 链接 **/

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 a {
    color: #636361;
    text-decoration: none;
}

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 a:hover {
    color: #636361;
    text-decoration: underline;
}

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .button {
    width: 52px;
    height: 22px;
    line-height: 22px;
    text-align: left;
    border: 0;
    padding: 0 0 0 6px;
    /* firefox */
    padding: 2px 0 0 9px \9;
    /* ie8 */
    *padding: 1px 0 0 9px;
    /* ie6、ie7 */
    margin: 0;
}

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .button-on {
    background: url(../../images/products/btn-gray1-05.gif) left top no-repeat;
    color: #c0c0c0;
}

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .button-up {
    background: url(../../images/products/btn-gray1-06.gif) left top no-repeat;
    color: #666464;
}

/** 重点文字 **/

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .focustext {
    color: #f39800;
    font-style: normal;
}

/** 选择浏览方式、排序方式样式 **/

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .type {
    float: left;
    margin: 0;
    height: 0;
    width: 0;
    padding: 0;
}

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .type span.skim {
    float: left;
}

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .type span.sort {
    float: right;
}

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .type span.sort select {
    float: left;
}

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .type span.sort .ph {
    float: left;
    width: 19px;
    height: 12px;
    margin: 5px 4px 0 0;
    text-indent: -9999px;
    overflow: hidden;
    background: url(../../images/products/icon-07.gif) 0 0 no-repeat;
}

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .type span.sort .ph1:hover {
    background: url(../../images/products/icon-07.gif) 0 -12px no-repeat;
}

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .type span.sort .ph2 {
    background: url(../../images/products/icon-08.gif) 0 0 no-repeat;
}

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .type span.sort .ph2:hover {
    background: url(../../images/products/icon-08.gif) 0 -12px no-repeat;
}

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .type span.sort .ph3 {
    width: 13px;
    height: 13px;
    background: url(../../images/products/icon-09.gif) 0 0 no-repeat;
}

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .type span.sort .ph3:hover {
    background: url(../../images/products/icon-09.gif) 0 -14px no-repeat;
}

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .type span.sort .ph4 {
    width: 13px;
    height: 13px;
    background: url(../../images/products/icon-10.gif) 0 0 no-repeat;
}

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .type span.sort .ph4:hover {
    background: url(../../images/products/icon-10.gif) 0 -14px no-repeat;
}

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .type span.skim a {
    padding-right: 5px;
}

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .type span.skim a img {
    border: 0;
    vertical-align: middle;
}

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .content {
    float: left;
    overflow: hidden;
    /*margin-bottom:10px;*/
    margin: 0px;
    padding: 0px;
}

/** 图片部分 **/

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .content .pic-module {
    float: left;
    position: relative;
}

/** 属性部分 **/

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .content .pro-module {
    float: left;
    width: 50%;
    margin-left: 6px;
    text-align: left;
    margin-top: -15px;
}

/** 商品详细部分 **/

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .detail {
    clear: both;
}

/** 大图片样式 **/

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .pic-module {
    float: left;
}

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .pic-module .pic {}

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .pic-module .pic a {
    text-align: center;
    display: block;
    border: 1px solid #e6e7e7;
    padding: 3px;
    width: auto;
    height: auto;
}

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .pic-module .pic a:hover {
    border: 1px solid #F60;
    background: #3b3a3a4ce;
}

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .pic-module .pic a img {
    width: 90px;
    height: 60px;
    border: 0;
}

/** 特殊标记 **/

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .pic-module span.lab {
    position: absolute;
    top: 35px;
    /* 根据商品图片大小调整*/
    left: 10px;
    z-index: 999;
    cursor: pointer;
}

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .pic-module span.lab img {
    height: 40px;
    width: 40px;
}

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .pic-module .compare {
    padding-top: 10px;
}

/** 标题样式 **/

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .pro-module {
    float: left;
}

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .pro-module h1 {
    margin: 0;
    font-size: 12px;
    color: #0068cc;
}

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .pro-module h1 span {
    color: #231815;
}

/** 属性样式 **/

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .pro-module ul {
    margin: 10px 0 0 0;
    padding: 0;
    list-style: none;
}

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .pro-module ul li {
    line-height: 23px;
    color: #231815;
}

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .pro-module ul li span {
    color: #666464;
    font-weight: normal;
}

/** 商品编码 重点文字 **/

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .pro-module ul li.code {
    color: #f39800;
    font-weight: bold;
}

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .pro-module ul li.code span {
    display: none;
}

/** 品牌名称、商标 链接 **/

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .pro-module ul li.name a {
    color: #0068b7;
    text-decoration: none;
}

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .pro-module ul li.name strong {
    font-weight: normal;
}

/** 重量、浏览次数 重点文字 **/

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .pro-module ul li.weight,
#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .pro-module ul li.skim {
    color: #f39800;
}

/** 市场价 **/

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .pro-module ul li.marketprice label {
    text-decoration: line-through;
}

/** 会员价 **/

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .pro-module ul li.memberprice label {
    color: #e60012;
    font-size: 13px;
}

/** 积分、折扣、节省 重点文字 **/

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .pro-module ul li.integral,
#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .pro-module ul li.discount,
#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .pro-module ul li.save {
    padding: 0 15px 0 0;
    color: #f39800;
}

/** 尺寸 链接 **/

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .pro-module ul li.size {
    clear: both;
}

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .pro-module ul li.size a {
    background: url(../../images/products/size_bg.gif) left top repeat-x;
    height: 13px;
    color: #0068b7;
    text-decoration: none;
    border: 1px solid #adb9c2;
    padding: 0 3px;
    margin: 0 5px 0 0;
}

/** 选择颜色 **/

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .pro-module ul li.color label {
    padding-right: 10px;
}

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .pro-module ul li.color img {
    vertical-align: middle;
    padding-left: 2px;
}

/** 评论 链接 **/

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .pro-module ul li.comment1 a {
    color: #0068b7;
    text-decoration: none;
}

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .pro-module ul li.comment2 {
    clear: both;
    vertical-align: middle;
    padding-right: 5px;
}

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .pro-module ul li.comment2 img {
    vertical-align: middle;
    padding-right: 5px;
}

/** 购买需填项、购买数量 **/

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .pro-module ul li .input {
    border: 1px solid #ddddde;
    height: 15px;
    line-height: 15px;
    width: 80px;
}

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .pro-module ul li .inputgray {
    color: #ccc;
    font-size: 12px;
}

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .pro-module ul li.number span {
    padding-left: 12px;
}

/** 缺货 **/

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .pro-module ul li.outstock img {
    vertical-align: middle;
}

/** 按钮 **/

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .pro-module p.buttonP {
    margin: 10px 0 0 0;
    clear: both;
}

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .pro-module p.buttonP .btna {
    margin-right: 3px;
}

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .pro-module p.buttonP a {
    white-space: nowrap;
}

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .pro-module p.buttonP .btna span {}

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .pro-module p.buttonP span.buy a,
#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .pro-module p.buttonP span.price a {
    color: #3b3a3a;
}

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .pro-module p.buttonP span.favor a,
#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .pro-module p.buttonP span.qq a {
    color: #727171;
}

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .pro-module p.buttonP span a:hover {
    text-decoration: none;
}

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .pro-module p.buttonP span.buy,
#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .pro-module p.buttonP span.price {
    float: left;
    background: url(../../images/products/btn-blue1-02.gif) left top no-repeat;
}

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .pro-module p.buttonP span.favor {
    float: left;
    background: url(../../images/products/btn-gray1-02.gif) left top no-repeat;
    color: #727171;
}

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .pro-module p.buttonP span.qq {
    background: url(../../images/products/btn-gray1-03.gif) left top no-repeat;
    width: 51px;
    color: #727171;
}

/** 商品描述 **/

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .pro-module .describe {
    margin: 5px 0 10px 0;
    color: #666464;
    line-height: 20px;
    clear: both;
}

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .pro-module .describe span {
    font-weight: bold;
}

/** 营销类型、关键词、下载 链接 **/

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .other {
    margin: 10px 0 0 0;
}

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .other p {
    margin: 0;
    height: 20px;
    color: #666464;
}

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .other p a {
    color: #0068b7;
    text-decoration: none;
}

/** 翻页 **/

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .skip-pages {
    clear: both;
    width: 100%;
    overflow: hidden;
    text-align: right;
    margin-top: 10px;
}

/** 商标弹出层 **/

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .pop-brand {
    position: absolute;
    left: 205px;
    top: 120px;
    width: 229px;
    z-index: 9999;
    color: #231815;
}

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .pop-picbig {
    position: absolute;
    left: 120px;
    top: 160px;
    width: 229px;
    z-index: 9999;
    color: #231815;
    border: 1px solid #000;
    padding: 5px;
}

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .pop-picbig img {
    width: 400px;
    height: 300px;
}

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .pop-brand p.top {
    background: url(../../images/products/pop-top.gif) left top no-repeat;
    margin: 0;
    height: 23px;
    text-align: right;
    padding: 20px 15px 0 0;
}

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .pop-brand p.top a.close {
    background: url(../../images/products/close.gif) right top no-repeat;
    width: 24px;
    height: 17px;
    display: block;
    float: right;
}

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .pop-brand p.top a.close:hover {
    background: url(../../images/products/close-hover.gif) right top no-repeat;
}

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .pop-brand .intro {
    padding: 5px 0;
    background: url(../../images/products/pop-bg.gif) left top repeat-y;
}

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .pop-brand .intro p.pic {
    text-align: center;
    margin: 0;
}

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .pop-brand .intro p.pic img {
    padding: 5px;
    width: 150px;
    height: 115px;
    border: 1px solid #d7d7d7;
    _margin-bottom: 1px;
}

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .pop-brand .intro h4 {
    font-size: 12px;
    margin: 15px 0 0 15px;
}

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .pop-brand .intro .info {
    padding: 5px 15px;
    line-height: 18px;
    font-size: 12px;
}

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .pop-brand .intro p.address {
    margin: 10px 0 0 15px;
    font-size: 12px;
}

/** 链接 **/

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .pop-brand .intro p.address a {
    color: #007dcc;
    text-decoration: none;
}

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .pop-brand p.bottom {
    background: url(../../images/products/pop-bottom.gif) left bottom no-repeat;
    height: 17px;
    margin: 0;
    font-size: 0;
}

/**关闭按钮**/

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .pop-picbig a.close {
    position: absolute;
    right: -10px;
    top: -8px;
    background: url(../../images/products/ad-close-01.gif) left top no-repeat;
    display: block;
    width: 18px;
    height: 18px;
}

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .pop-picbig a.close:hover {
    background: url(../../images/products/ad-close-02.gif) left top no-repeat;
}

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .mainul {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

#elem-FrontProducts_list01-205 #box_222 .FrontProducts_list01-d1_c1 .column-num4 {
    width: 24.5%;
}

#elem-FrontProducts_list01-007 #box_222 .FrontProducts_list01-d1_c1 .mainul {
    width: 94%;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
}

#elem-FrontProducts_list01-007 #box_222 .FrontProducts_list01-d1_c1 ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#elem-FrontProducts_list01-201 #box_222 .FrontProducts_list01-d1_c1 .mainul {
    width: 98%;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
}

#elem-FrontProducts_list01-201 #box_222 .FrontProducts_list01-d1_c1 ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#elem-FrontProducts_list01-007 #box_222 .FrontProducts_list01-d1_c1 .content {
    float: left;
    overflow: hidden;
    width: 24.3%;
    padding: 2px 2px;
}

/** 图片部分 **/

#elem-FrontProducts_list01-007 #box_222 .FrontProducts_list01-d1_c1 .content .pic-module {
    float: left;
    position: relative;
    width: 100%;
    margin: 0;
}

/** 属性部分 **/

#elem-FrontProducts_list01-007 #box_222 .FrontProducts_list01-d1_c1 .content .pro-module {
    float: left;
    width: 100%;
    text-align: center;
    margin: 0;
}

#elem-FrontProducts_list01-201 #box_222 .FrontProducts_list01-d1_c1 .content {
    float: left;
    overflow: hidden;
    width: 32%;
    padding: 2px 2px;
    margin: 0;
}

/** 图片部分 **/

#elem-FrontProducts_list01-201 #box_222 .FrontProducts_list01-d1_c1 .content .pic-module {
    float: left;
    position: relative;
    width: 100%;
    margin: 0;
}

/** 属性部分 **/

#elem-FrontProducts_list01-201 #box_222 .FrontProducts_list01-d1_c1 .content .pro-module {
    float: left;
    width: 100%;
    text-align: center;
    margin: 0;
}

/** 大图片样式 **/

#elem-FrontProducts_list01-201 #box_222 .FrontProducts_list01-d1_c1 .pic-module .pic {}

#elem-FrontProducts_list01-201 #box_222 .FrontProducts_list01-d1_c1 .pic-module .pic a {
    width: 140px;
    height: 110px;
    text-align: center;
    display: block;
    border: 1px solid #e6e7e7;
    padding-top: 5px;
}

#elem-FrontProducts_list01-201 #box_222 .FrontProducts_list01-d1_c1 .pic-module .pic a:hover {
    border: 1px solid #F60;
    background: #3b3a3a4ce;
}

#elem-FrontProducts_list01-201 #box_222 .FrontProducts_list01-d1_c1 .pic-module .pic a img {
    width: 130px;
    height: 105px;
    border: 0;
}

#elem-FrontProducts_list01-202 #box_222 .FrontProducts_list01-d1_c1 .mainul {
    width: 98%;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
}

#elem-FrontProducts_list01-202 #box_222 .FrontProducts_list01-d1_c1 ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#elem-FrontProducts_list01-202 #box_222 .FrontProducts_list01-d1_c1 .content {
    float: left;
    overflow: hidden;
    width: 24%;
    padding: 2px 2px;
}

/** 图片部分 **/

#elem-FrontProducts_list01-202 #box_222 .FrontProducts_list01-d1_c1 .content .pic-module {
    float: left;
    position: relative;
    width: 100%;
    margin: 0;
}

/** 属性部分 **/

#elem-FrontProducts_list01-202 #box_222 .FrontProducts_list01-d1_c1 .content .pro-module {
    float: left;
    width: 100%;
    text-align: center;
    margin: 0;
}

/** 大图片样式 **/

#elem-FrontProducts_list01-202 #box_222 .FrontProducts_list01-d1_c1 .pic-module .pic {}

#elem-FrontProducts_list01-202 #box_222 .FrontProducts_list01-d1_c1 .pic-module .pic a {
    width: 140px;
    height: 110px;
    text-align: center;
    display: block;
    border: 1px solid #e6e7e7;
    padding-top: 5px;
}

#elem-FrontProducts_list01-202 #box_222 .FrontProducts_list01-d1_c1 .pic-module .pic a:hover {
    border: 1px solid #F60;
    background: #3b3a3a4ce;
}

#elem-FrontProducts_list01-202 #box_222 .FrontProducts_list01-d1_c1 .pic-module .pic a img {
    width: 130px;
    height: 105px;
    border: 0;
}

#elem-FrontProducts_list01-203 #box_222 .FrontProducts_list01-d1_c1 .mainul {
    width: 98%;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
}

#elem-FrontProducts_list01-203 #box_222 .FrontProducts_list01-d1_c1 ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#elem-FrontProducts_list01-203 #box_222 .FrontProducts_list01-d1_c1 .content {
    float: left;
    overflow: hidden;
    width: 24%;
    padding: 2px 2px;
}

/** 图片部分 **/

#elem-FrontProducts_list01-203 #box_222 .FrontProducts_list01-d1_c1 .content .pic-module {
    float: left;
    position: relative;
    width: 100%;
    margin: 0;
}

/** 属性部分 **/

#elem-FrontProducts_list01-203 #box_222 .FrontProducts_list01-d1_c1 .content .pro-module {
    float: left;
    width: 100%;
    text-align: center;
    margin: 0;
}

/** 大图片样式 **/

#elem-FrontProducts_list01-203 #box_222 .FrontProducts_list01-d1_c1 .pic-module .pic {}

#elem-FrontProducts_list01-203 #box_222 .FrontProducts_list01-d1_c1 .pic-module .pic a {
    width: 140px;
    height: 110px;
    text-align: center;
    display: block;
    border: 1px solid #e6e7e7;
    padding-top: 5px;
}

#elem-FrontProducts_list01-203 #box_222 .FrontProducts_list01-d1_c1 .pic-module .pic a:hover {
    border: 1px solid #F60;
    background: #3b3a3a4ce;
}

#elem-FrontProducts_list01-203 #box_222 .FrontProducts_list01-d1_c1 .pic-module .pic a img {
    width: 130px;
    height: 105px;
    border: 0;
}

#elem-FrontProducts_list01-204 #box_222 .FrontProducts_list01-d1_c1 .mainul {
    width: 98%;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
}

#elem-FrontProducts_list01-204 #box_222 .FrontProducts_list01-d1_c1 ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#elem-FrontProducts_list01-204 #box_222 .FrontProducts_list01-d1_c1 .content {
    float: left;
    overflow: hidden;
    width: 24%;
    padding: 2px 2px;
}

/** 图片部分 **/

#elem-FrontProducts_list01-204 #box_222 .FrontProducts_list01-d1_c1 .content .pic-module {
    float: left;
    position: relative;
    width: 100%;
    margin: 0;
}

/** 属性部分 **/

#elem-FrontProducts_list01-204 #box_222 .FrontProducts_list01-d1_c1 .content .pro-module {
    float: left;
    width: 100%;
    text-align: center;
    margin: 0;
}

/** 大图片样式 **/

#elem-FrontProducts_list01-204 #box_222 .FrontProducts_list01-d1_c1 .pic-module .pic {}

#elem-FrontProducts_list01-204 #box_222 .FrontProducts_list01-d1_c1 .pic-module .pic a {
    width: 140px;
    height: 110px;
    text-align: center;
    display: block;
    border: 1px solid #e6e7e7;
    padding-top: 5px;
}

#elem-FrontProducts_list01-204 #box_222 .FrontProducts_list01-d1_c1 .pic-module .pic a:hover {
    border: 1px solid #F60;
    background: #3b3a3a4ce;
}

#elem-FrontProducts_list01-204 #box_222 .FrontProducts_list01-d1_c1 .pic-module .pic a img {
    width: 130px;
    height: 105px;
    border: 0;
}

#elem-FrontProducts_list01-004 #box_222 .FrontProducts_list01-d1_c1 .type {
    float: left;
    width: 94%;
    margin: 5px auto;
    height: auto;
}