<!DOCTYPE html>
<html lang="en">
<head>

    <!--   <link href="../styles/page_index.css" rel="stylesheet" type="text/css" /> -->

    <link href="/css/style.css" rel="stylesheet" type="text/css" />

    <link href="/css/public/FrontPublic_slideShow01-d1_cindex.css" rel="stylesheet" type="text/css" />

    <link href="/css/products/FrontProducts_list01-d1_c1.css" rel="stylesheet" type="text/css" />

    <link href="/css/products/FrontProducts_list01.css" rel="stylesheet" type="text/css" />

    <link href="/css/public/FrontPublic_slideShow01-d3_c1.css" rel="stylesheet" type="text/css" />

    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>Timing chain|valve tappet|oil pump|timing kit|water pump 【昆山智泉機械有限公司】</title>
    <meta name="keywords" content="Timing chain|valve tappet|oil pump|timing kit|water pump 【昆山智泉機械有限公司】 定时链/液压挺杆/机油泵/计时套件/水泵等 【欣泰国际有限公司】" />
    <meta name="description" content="Timing chain|valve tappet|oil pump|timing kit|water pump 【昆山智泉機械有限公司】 定时链/液压挺杆/机油泵/计时套件/水泵等 【欣泰国际有限公司】" />

    <script type="text/javascript" src="/js/common/jquery.js"></script>
    <script type="text/javascript" src="/js/lib.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {

            $(".indexmok1 a").hover(function() {
                $(this).children("img").stop().animate({
                    top: "-186px"
                }, 300);
            }, function() {
                $(this).children("img").stop().animate({
                    top: "0px"
                }, 300);
            });

            $(".indexmok2 a").hover(function() {
                $(this).children("img").stop().animate({
                    left: "-170px"
                }, 300);
            }, function() {
                $(this).children("img").stop().animate({
                    left: "0px"
                }, 300);
            });

            $(".indexmok5 a").hover(function() {

                $(this).children("img").stop().animate({
                    left: "-170px"
                }, 300);
            }, function() {
                $(this).children("img").stop().animate({
                    left: "0px"
                }, 300);
            });

            $(".indexmok6 a").hover(function() {

                $(this).children("img").stop().animate({
                    left: "-170px"
                }, 300);

            }, function() {
                $(this).children("img").stop().animate({
                    left: "0px"
                }, 300);
            });

            $(".indexmok7 a").hover(function() {

                $(this).children("img").stop().animate({
                    right: "-160px"
                }, 300);

            }, function() {

                $(this).children("img").stop().animate({
                    right: "0px"
                }, 300);
            });

            $(".indexmok8  a").hover(function() {

                $(this).children("img").stop().animate({
                    top: "-186px"
                }, 300);

            }, function() {
                $(this).children("img").stop().animate({
                    top: "0px"
                }, 300);
            });

            $(".indexmok9  a").hover(function() {

                $(this).children("img").stop().animate({
                    top: "-186px"
                }, 300);
            }, function() {

                $(this).children("img").stop().animate({
                    top: "0px"
                }, 300);

            });
        });
    </script>
</head>
<body id="index">
<div class="pageWidthindex" id="box_root">

    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>欣泰国际有限公司</title>
    <!--[if lt IE 7]>
    <style type="text/css">
        #logo,#menuyapng { behavior: url(/img/my/iepngfix.htc) }
    </style>
    <![endif]-->
    <script type="text/javascript">
        //添加到收藏夹
        function AddFavorite(sURL, sTitle) {
            try {
                window.external.addFavorite(sURL, sTitle);
            } catch (e) {
                try {
                    window.sidebar.addPanel(sTitle, sURL, "");
                } catch (e) {
                    alert("加入收藏失败，请使用Ctrl+D进行添加");
                }
            }
        }

        function setHomepage() {　 // 设置首页

            if (document.all) {
                document.body.style.behavior = 'url(#default#homepage)';
                document.body.setHomePage('https://www.baidu.com');
            } else if (window.sidebar) {
                if (window.netscape) {
                    try {
                        netscape.security.PrivilegeManager.enablePrivilege("UniversalXPConnect");
                    } catch (e) {
                        alert("该操作被浏览器拒绝，如果想启用该功能，请在地址栏内输入 about:config,然后将项 signed.applets.codebase_principal_support 值该为true");
                    }
                }
                var prefs = Components.classes['@mozilla.org/preferences-service;1'].getService(Components.interfaces.nsIPrefBranch);
                prefs.setCharPref('browser.startup.homepage', 'http://www.baidu.com');
            }

        }
    </script>
    <link _cke_saved_href="/img/favicon.ico" href="/img/favicon.ico" rel="shortcut icon" />
    <style type="text/css">
        #index #menu li#home a {
            color: #656363;
        }

        #sub1 #menu li#menu1 a {
            color: #0072a8;
        }

        #sub2 #menu li#menu2 a {
            color: #0072a8;
        }

        #sub3 #menu li#menu3 a {
            color: #0072a8;
        }

        #sub4 #menu li#menu4 a {
            color: #0072a8;
        }

        #sub5 #menu li#menu5 a {
            color: #0072a8;
        }

        #sub6 #menu li#menu6 a {
            color: #0072a8;
        }

        #sub7 #menu li#menu7 a {
            color: #0072a8;
        }

        #sub8 #menu li#menu7 a {
            color: #0072a8;
        }

        #menu {
            list-style: none;
            width: 640px;
            margin: 0 auto;
            height: 75px;
        }

        #menu ul li {
            font-family: 微软雅黑;
            font-size: 14px;
            text-align: center;
        }

        #menu li {
            float: left;
            display: block;
            text-align: center;
            position: relative;
            width: 124px;
            border: none;
        }

        #menu li:hover {
            border: 0px solid #ccc;
            padding: 0px;
            background: ;
            line-height: 24px;
        }

        #menu li a {
            font-family: 微软雅黑;
            font-size: 14px;
            line-height: 90px;
            height: 75px;
            color: #333;
            display: block;
            outline: 0;
            text-decoration: none;
        }

        #menu li .simple a {
            line-height: 24px;
        }

        #menu li:hover a {
            color: #fff;
        }

        #menu li .drop {
            padding-right: 0px;
            /*background:url("/img/my/daohang/menuarrow.gif") no-repeat right 3px;*/
        }

        #menu li:hover .drop {
            background: #fff;
            color: #0072a8;
        }

        #menu li:hover .dropdown_1column {
            left: 0px;
            top: 81px;
        }

        .col_1 {
            display: inline;
            float: left;
            position: relative;
            margin-left: 5px;
            margin-right: 5px;
            width: 130px;
        }

        .dropdown_1column {
            margin: 4px auto;
            float: left;
            position: absolute;
            left: -999em;
            /* Hides the drop down */
            text-align: left;
            padding: 10px 5px 10px 5px;
            border: 0px solid #ccc;
            border-top: none;
            background: url(/img/my/daohang/caidan.png) repeat;
            width: 310px;
        }

        #menu li:hover div a {
            font-size: 12px;
            color: #333;
            line-height: 24px;
        }

        #menu li:hover div a:hover {
            color: #0072a8 !important;
            line-height: 24px;
            font-size: 13px;
            font-weight: bold;
        }

        #menu li ul {
            list-style: none;
            padding: 0;
            margin: 0 0 12px 0;
        }

        #menu li ul li {
            font-size: 12px;
            height: 30px;
            line-height: 24px;
            position: relative;
            padding: 0;
            margin: 0;
            float: none;
            text-align: left;
            width: 310px;
        }

        #menu li ul li a {
            background: url("/img/my/daohang/subarrow.gif") no-repeat left 9px;
            padding-left: 24px;
            color: #333 !important;
        }

        #menu li ul li:hover {
            background: none;
            border: none;
            padding: 0;
            margin: 0;
            height: 30px;
        }
    </style>
    <!--<script type="text/javascript">
$(document).ready(function() {
$("ul#hnav li").hover(function() { //Hover over event on list item
$(this).find("div.ljcyakkk_one").show(); //Show the subnav
$(this).children() .children("a").css( {color: "#fff" ,background:"#d30000"} );
} , function() { //on hover out...
$(this).find("div.ljcyakkk_one").hide(); //Hide the subnav
$(this).children() .children("a").css( {color: "#fff" ,background:"#7e7e7e"} );
});
});
</script> -->
    <div id="header02">
        <div id="header">
            <div id="logo"> <a href="/"></a> </div>
            <div id="menuya">
                <div id="menu">
                    <!--<ul id="hnav">
              <li id="home">
                  <a href="/index.html">
                        <span class="cn">首页</span>
               <span class="cn">Home</span>
              </a>
            </li>
            <li id="menu1">
              <a href="/about.html">
                <span class="cn">关于我们</span>
                <span class="cn">About us</span>
              </a>
            </li>
            <li id="menu2">
              <a href="/news_list.html">
                <span class="cn">产品介绍</span>
                <span class="cn">News Center</span>
              </a>
            </li>
            <li id="menu3">
              <a href="/products_list.html">
                <span class="cn">研发与服务</span>
                <span class="cn">products</span>
              </a>
            </li>
            <li id="menu4">
              <a href="/about2.html">
                <span class="cn">客户需求</span>
                <span class="cn">Technical</span>
              </a>
            </li>
            <li id="menu5">
              <a href="/feedback">
                <span class="cn">加入我们</span>
                <span class="cn">Messages</span>
              </a>
            </li>
          </ul>-->
                    <ul id="menu">
                        <li id="home"> <a class="drop" href="/cn" data-i18n="home">首页</a>
                        </li>
                        <li id="menu1">
                            <a class="drop" href="/cn/about" data-i18n="about">关于</a>
                            <!--<div class="dropdown_1column">
            <div class="col_1">
                <ul class="simple">
                    <li><a href="/about/&i=20&comContentId=20.html">Team Style</a></li>
                    <li><a href="/news_list_1/&newsCategoryId=3.html">SUNCHEM News</a></li>
                    <li><a href="/news_list_1/&newsCategoryId=2.html">Industry News</a></li>
                </ul>
            </div>
    </div>        -->
                        </li>
                        <li id="menu2">
                            <a class="drop" href="/cn/products_list" data-i18n="products">产品</a>
                            <!--<div class="dropdown_1column">
            <div class="col_1">
                <ul class="simple">
                    <li><a href="/products_list.html">Raney metal catalyst</a></li>
<li><a href="/products_list_a.html">Basic metal catalyst</a></li>
                    <li><a href="/products_list_b.html">Precious metal catalyst carrier</a></li>
                    <li><a href="/about_q/&i=18&comContentId=18.html">Special Purpose catalyst</a></li>
                    <li><a href="/about_q/&i=13&comContentId=13.html">Technology Solutions</a></li>
                    <li><a href="/about_q/&i=14&comContentId=14.html">Spent catalyst recycling and substitution</a></li>
                </ul>
            </div>
    </div>        -->
                        </li>
                        <li id="menu3">
                            <a class="drop" href="/cn/feedback" data-i18n="feedback">反馈</a>
                        </li>
                        <li id="menu4">
                            <a class="drop" href="/cn/contact" data-i18n="contact">联系我们</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="header1">
                <!--<div id="ban">
          <ul>
            <li>
              <a class="Hchina" href="http://www.sun-chem.com" target="_blank"></a>
            </li>
            <li>
              <a class="Henglish" href="#"></a>
            </li>
          </ul>
        </div>  -->
                <div class="spacesearch" id="soso">
                    <div id="box_413546135">
                        <div xmlns="" class="columnSpace" id="elem-FrontProducts_generalSearch01-13759478123710" name="商品搜索">
                            <script type="text/javascript" src="/js/products/FrontProducts_generalSearch01.js"></script>
                            <script type="text/javascript" src="/js/i18n/FrontProducts_generalSearch01.js"></script>
                            <div id="FrontProducts_generalSearch01-13759478123710" class="FrontProducts_generalSearch01-d1_c1">
                                <form id="FrontProducts_generalSearch01-13759478123710_searchForm" name="FrontProducts_generalSearch01-13759478123710_searchForm" method="post" target="_self" onsubmit="return FrontProducts_generalSearch01.validateForm('FrontProducts_generalSearch01-13759478123710','true','Please enter the key');"
                                      action="/FrontProducts.do?method=submit">
                                    <input type="hidden" id="FrontProducts_generalSearch01-13759478123710_searchType" name="searchType" value="1" />
                                    <input type="hidden" id="FrontProducts_generalSearch01-13759478123710_propertyType" value="2" />
                                    <input type="hidden" id="FrontProducts_generalSearch01-13759478123710_areaType" value="" />
                                    <input type="hidden" name="action_page" value="/products_search_result.html" />
                                    <span class="keyword">
		                                <span>
			                            </span>
                                        <input id="FrontProducts_generalSearch01-13759478123710_keyword" name="keyword" class="input input-gray" type="text" value="" onfocus="FrontProducts_generalSearch01.keyover('FrontProducts_generalSearch01-13759478123710','Please enter the key')" onblur="FrontProducts_generalSearch01.keyout('FrontProducts_generalSearch01-13759478123710','Please enter the key')"
                                               maxlength="50" />
                                        </span>
                                    <input id="FrontProducts_generalSearch01-13759478123710_propertyId" type="hidden" value="" />
                                    <span class="search1">
	                                        <input type="submit" class="btn btn-com-03" value=""/>
                                        </span>
                                </form>
                                <script type="text/javascript">
                                    //<![CDATA[
                                    FrontProducts_generalSearch01.keyout('FrontProducts_generalSearch01-13759478123710', 'Please enter the key');
                                    //]]>
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style type="text/css">
        #ie6-warning {
            background: #06C;
            position: absolute;
            top: 0;
            left: 0;
            font-size: 20px;
            color: #fff;
            width: 97%;
            padding: 2px 15px 2px 23px;
            text-align: center;
            z-index: 9999;
            height: 100px;
            line-height: 28px;
        }

        #ie6-warning a {
            text-decoration: none;
        }
    </style>
    <!--[if lte IE 6]>

    <div id="ie6-warning">您正在使用 Internet Explorer 6，在本页面的显示效果可能有差异。建议您升级到

        <a href="http://www.microsoft.com/china/windows/internet-explorer/" target="_blank">Internet Explorer 8</a>

        或以下浏览器： <a href="http://www.mozillaonline.com/">Firefox</a><br>

        最佳分辨率为：1440px * 990px  谢谢合作

    </div>

    <script type="text/javascript">
        function position_fixed(el, eltop, elleft){
            // check if this is IE6
            if(!window.XMLHttpRequest)
                window.onscroll = function(){
                    el.style.top = (document.documentElement.scrollTop + eltop)+"px";
                    el.style.left = (document.documentElement.scrollLeft + elleft)+"px";
                };
            else el.style.position = "fixed";
        }
        position_fixed(document.getElementById("ie6-warning"),0, 0);

    </script>

    <![endif]-->
    <div id="index_center">
        <div id="index_center1">
            <div id="you">
                <div id="you1">
                    <div class="indexmok indexmok9 indexmokB">
                        <a href="/cn/about">
                            <img src="/img/my/index/you1.jpg" />
                            <div id="box_you1">
                                <div class="columnSpace" id="elem-FrontSpecifies_show01-130ff01545454" name="说明页">
                                    <div id="FrontSpecifies_show01-130ff01545454" class="FrontSpecifies_show01-d1_c1"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div id="you2">
                    <div class="indexmok indexmok8 indexmokB">
                        <a href="/cn/about">
                            <img src="/img/my/index/you2.jpg" />
                            <div id="box_you2">
                                <div class="columnSpace" id="elem-FrontSpecifies_show01-130ff01545454878787" name="说明页">
                                    <div id="FrontSpecifies_show01-130ff01545454878787" class="FrontSpecifies_show01-d1_c1"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div id="box_banner" class="bannert1">
                <div id="elem-FrontPublic_slideShow01-001" name="幻灯展示样式" class="columnSpace">
                    <script type="text/javascript" src="/js/public/FrontPublic_slideShow01.js"></script>
                    <script type="text/javascript" src="/js/index/index.js"></script>
                    <div id="FrontPublic_slideShow01-001" class="FrontPublic_slideShow01-d1_c1">
                        <script type="text/javascript" src="/js/common/png.js"></script>
                        <div class="slide-contente">
                            <div class="slide-pic">
                                <ul></ul>
                            </div>
                            <div class="slide-info-mark"></div>
                            <div class="slide-info">
                                <h3></h3>
                                <div class="slide-text">
                                </div>
                                <div class="slide-tag-text">
                                    <ul></ul>
                                </div>
                            </div>
                        </div>
                        <div class="slide-tag-thumbnail">
                            <div class="arrowhead-left arrowhead"></div>
                            <div class="thumbnail-list">
                                <ul></ul>
                            </div>
                            <div class="arrowhead-right arrowhead"></div>
                            <div class="clearBoth"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="wrap">
            <div id="index_wrap">
                <div class="indexmok indexmok6 indexmokB">
                    <a href="/cn/products_list">
                        <img src="/img/my/index/sanben_5.jpg" />
                        <div class="indexnr" id="box_nff">
                            <div class="columnSpace" id="elem-FrontSpecifies_show01-vvd01011" name="说明页">
                                <div id="FrontSpecifies_show01-vvd01011" class="FrontSpecifies_show01-d1_c1"></div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="indexmok indexmok2 indexmokT">
                    <a href="/cn/feedback">
                        <img src="/img/my/index/sanben_2.jpg" />
                        <div class="indexnr" id="box_nff">
                            <div class="columnSpace" id="elem-FrontSpecifies_show01-vvd01011554552211554552" name="说明页">
                                <div id="FrontSpecifies_show01-vvd01011554552211554552" class="FrontSpecifies_show01-d1_c1"></div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="indexmok indexmok5 indexmokB">
                    <a href="/cn/contact">
                        <img src="/img/my/index/sanben_1.jpg" />
                        <div class="indexnr" id="box_nff">
                            <div class="columnSpace" id="elem-FrontSpecifies_show01-vvd010115545522115545528877225545878" name="说明页">
                                <div id="FrontSpecifies_show01-vvd010115545522115545528877225545878" class="FrontSpecifies_show01-d1_c1"></div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />

    <title>欣泰国际有限公司</title>

    <div id="footer_bg">

        <!-- 插入组件的位置-->

        <div class="footer">

            <div id="box_xxxzfmsg" style="width:auto; height:auto;">

                <div id="box_xxxzfmsg_sub1" STYLE="width:624px; height:238px; float:left;">

                    <div xmlns="" class="columnSpace" id="elem-FrontSpecifies_show01-14239672938481" name="说明页">

                        <div id="FrontSpecifies_show01-14239672938481" class="FrontSpecifies_show01-d1_c1">
                            <table border="0" cellpadding="0" cellspacing="0" style="text-align: center; width: 600px; height: 159px; padding-top: 20px;">
                                <tbody>
                                <tr style="font-size: 14px; font-weight: bold;">
                                    <td>
                                        关于我们</td>
                                    <td>
                                        产品</td>
                                    <td>
                                        反馈</td>
                                    <td>
                                        联系我们</td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="/cn/about">公司资料</a></td>
                                    <td>
                                        <a href="/cn/products_list">AUTO PARTS</a></td>
                                    <td>
                                        <a href="/cn/feedback">留言</a></td>
                                    <td>
                                        <a href="/cn/contact">联系</a></td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="/cn/culture">公司文化</a></td>
                                    <td>
                                        <a href="/cn/products_list">TRANMISSION PARTS</a></td>
                                    <td>
                                        <a href="/cn/feedback_list">留言列表</a></td>
                                    <td>
                                        &nbsp;</td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="/cn/honors">公司荣誉</a></td>
                                    <td>
                                        &nbsp;</td>
                                    <td>
                                        &nbsp;</td>
                                    <td>
                                        &nbsp;</td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="/cn/technology">公司技术</a></td>
                                    <td>
                                        &nbsp;</td>
                                    <td>
                                        &nbsp;</td>
                                    <td>
                                        &nbsp;</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>

                <div id="box_xxxzfmsg_sub2" STYLE="width:380px; height:238px; float:right;">

                    <div xmlns="" class="columnSpace" id="elem-FrontSpecifies_show01-1423967628025" name="说明页">

                        <div id="FrontSpecifies_show01-1423967628025" class="FrontSpecifies_show01-d3_c1">
                            <div class="describe htmledit">
                                <p>
                                    <img alt="" src="/imageRepository/9ed6de4b-8569-40cf-b771-be6b13d8d08e.jpg" usemap="#ckMap0" /><map name="ckMap0"><area coords="55,167,167,191" href="mailto:tai@tran-auto.com" shape="rect" /></map></p>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="clearBoth"></div>

            </div>
            <!-- 插入组件的位置-->

        </div>
    </div>
    <div id="box_z9adiqbax" style="background:url(/img/my/bottom_bg.jpg); width:100%; height:42px;">
        <div id="box_040fff" style=" margin:0 auto; width:1004px;line-height: 42px;">
            <div xmlns="" class="columnSpace" id="elem-FrontSpecifies_show01-14239672938482" name="说明页">
                <div id="FrontSpecifies_show01-14239672938482" class="FrontSpecifies_show01-d1_c1">
                    <p style="text-align: center;">
                        Copyright &copy;&nbsp;&nbsp;<span>昆山智泉機械有限公司</span>&nbsp;&nbsp;<a class="hui" href="http://www.miitbeian.gov.cn/icp/publish/query/icpMemoInfo_login.action?id=19279298" style="color: blue; text-decoration: underline;"></a>&nbsp;&nbsp;
                        <a href="http://www.300.CN">WWW.300.CN</a>&nbsp; <a href="http://www.tyclaser.com" target="_blank"><span style="color:#000000;">友</span></a><a href="http://www.lyjiguang.com" target="_blank"><span style="color:#000000;">情</span></a>
                        <span
                                style="color:#000000;">链接</span>
                    </p>
                </div>
            </div>
        </div>

        <div id="box_040ffkxf">
            <div id="elem-FrontPublic_trust01-001" name="可信网站" class="columnSpace">
                <div id="FrontPublic_trust01-001" class="null">
                    <div class="image">

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div id="elem-FrontPublic_wisher01-2014"></div>
<!--<script src="/js/i18n/i18n.js"></script>-->
</body>



</html>