<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>Timing chain|valve tappet|oil pump|timing kit|water pump 【昆山智泉機械有限公司】</title>
    <meta name="keywords" content="Timing chain|valve tappet|oil pump|timing kit|water pump 【昆山智泉機械有限公司】 定时链/液压挺杆/机油泵/计时套件/水泵等 【欣泰国际有限公司】" />
    <meta name="description" content="Timing chain|valve tappet|oil pump|timing kit|water pump 【昆山智泉機械有限公司】 定时链/液压挺杆/机油泵/计时套件/水泵等 【欣泰国际有限公司】" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />

    <link href="/img/my/news.css" rel="stylesheet" type="text/css" />

    <link href="/img/my/product1.css" rel="stylesheet" type="text/css" />
    <link href="/css/products/FrontProducts_list01-d4_c1.css" rel="stylesheet" type="text/css" />
    <link href="/css/public/FrontPublic_slideShow01-d1_c1.css" rel="stylesheet" type="text/css" />

    <link href="/css/products/FrontProductsCategory_show01-d3_c1.css" rel="stylesheet" type="text/css" />

    <link href="/css/products/FrontProductsCategory_show01-d2_c1.css" rel="stylesheet" type="text/css" />

    <link href="/css/products/FrontProducts_list01-d4_c1.css" rel="stylesheet" type="text/css" />

    <link href="/css/ui-all.css" rel="stylesheet" type="text/css" />

    <link href="/css/cetop.css" rel="stylesheet" type="text/css" />
    <link href="/img/my/lightbox/jquery.lightbox-0.5.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/js/common/jquery.js"></script>
    <script type="text/javascript" src="/js/lib.min.js"></script>

    <script type="text/javascript" src="/js/product/list.js"></script>
    <script language="javascript" src="/img/my/lightbox/jquery.lightbox-0.5.js" type="text/javascript"></script>
    <script language="javascript" src="/js/product/list2.js"></script>

</head>

<body id="products_list">

    <div class="pageWidth" id="box0_root">
        <!--[if lt IE 7]>
        <style type="text/css">
            #logo,#menuyapng { behavior: url(/images/my/iepngfix.htc) }
        </style>
        <![endif]-->
        <script type="text/javascript">
            //添加到收藏夹   
            function AddFavorite(sURL, sTitle) {

                try

                {

                    window.external.addFavorite(sURL, sTitle);

                } catch (e)

                {

                    try

                    {

                        window.sidebar.addPanel(sTitle, sURL, "");

                    } catch (e)

                    {

                        alert("加入收藏失败，请使用Ctrl+D进行添加");

                    }

                }

            }

            function setHomepage() {　 // 设置首页  

                if (document.all) {

                    document.body.style.behavior = 'url(#default#homepage)';

                    document.body.setHomePage('http://www.baidu.com');

                } else if (window.sidebar) {

                    if (window.netscape) {

                        try {

                            netscape.security.PrivilegeManager.enablePrivilege("UniversalXPConnect");

                        } catch (e) {


                            alert("该操作被浏览器拒绝，如果想启用该功能，请在地址栏内输入 about:config,然后将项 signed.applets.codebase_principal_support 值该为true");

                        }
                    }

                    var prefs = Components.classes['@mozilla.org/preferences-service;1'].getService(Components.interfaces.nsIPrefBranch);

                    prefs.setCharPref('browser.startup.homepage', 'http://www.baidu.com');

                }

            }
        </script>
        <link _cke_saved_href="/img/favicon.ico" href="/img/favicon.ico" rel="shortcut icon" />
        <style type="text/css">
            #index #menu li#home a {
                color: #656363;
            }

            #sub1 #menu li#menu1 a {
                color: #0072a8;
            }

            #sub2 #menu li#menu2 a {
                color: #0072a8;
            }

            #sub3 #menu li#menu3 a {
                color: #0072a8;
            }

            #sub4 #menu li#menu4 a {
                color: #0072a8;
            }

            #sub5 #menu li#menu5 a {
                color: #0072a8;
            }

            #sub6 #menu li#menu6 a {
                color: #0072a8;
            }

            #sub7 #menu li#menu7 a {
                color: #0072a8;
            }

            #sub8 #menu li#menu7 a {
                color: #0072a8;
            }

            #menu {
                list-style: none;
                width: 640px;
                margin: 0 auto;
                height: 75px;
            }

            #menu ul li {
                font-family: 微软雅黑;
                font-size: 14px;
                text-align: center;
            }

            #menu li {
                float: left;
                display: block;
                text-align: center;
                position: relative;
                width: 124px;
                border: none;
            }

            #menu li:hover {
                border: 0px solid #ccc;
                padding: 0px;
                background: ;
                line-height: 24px;
            }

            #menu li a {
                font-family: 微软雅黑;
                font-size: 14px;
                line-height: 90px;
                height: 75px;
                color: #333;
                display: block;
                outline: 0;
                text-decoration: none;
            }

            #menu li .simple a {
                line-height: 24px;
            }

            #menu li:hover a {
                color: #fff;
            }

            #menu li .drop {
                padding-right: 0px;
                /*background:url("/images/my/daohang/menuarrow.gif") no-repeat right 3px;*/
            }

            #menu li:hover .drop {
                background: #fff;
                color: #0072a8;
            }

            #menu li:hover .dropdown_1column {
                left: 0px;
                top: 81px;
            }

            .col_1 {
                display: inline;
                float: left;
                position: relative;
                margin-left: 5px;
                margin-right: 5px;
                width: 130px;
            }

            .dropdown_1column {
                margin: 4px auto;
                float: left;
                position: absolute;
                left: -999em;
                /* Hides the drop down */
                text-align: left;
                padding: 10px 5px 10px 5px;
                border: 0px solid #ccc;
                border-top: none;
                background: url(/img/my/daohang/caidan.png) repeat;
                width: 310px;
            }

            #menu li:hover div a {
                font-size: 12px;
                color: #333;
                line-height: 24px;
            }

            #menu li:hover div a:hover {
                color: #0072a8 !important;
                line-height: 24px;
                font-size: 13px;
                font-weight: bold;
            }

            #menu li ul {
                list-style: none;
                padding: 0;
                margin: 0 0 12px 0;
            }

            #menu li ul li {
                font-size: 12px;
                height: 30px;
                line-height: 24px;
                position: relative;
                padding: 0;
                margin: 0;
                float: none;
                text-align: left;
                width: 310px;
            }

            #menu li ul li a {
                background: url("/img/my/daohang/subarrow.gif") no-repeat left 9px;
                padding-left: 24px;
                color: #333 !important;
            }

            #menu li ul li:hover {
                background: none;
                border: none;
                padding: 0;
                margin: 0;
                height: 30px;
            }
        </style>
        <div id="header02">
            <div id="header">
                <div id="logo"> <a href="/"></a> </div>
                <div id="menuya">
                    <div id="menu">
                        <ul id="menu">
                            <li id="home"> <a class="drop" href="/">HOME</a>
                            </li>
                            <li id="menu1">
                                <a class="drop" href="/about">ABOUT</a>
                            </li>
                            <li id="menu2">
                                <a class="drop" href="/products_list">PRODUCTS</a>
                            </li>
                            <li id="menu3">
                                <a class="drop" href="/feedback">FEEDBACK</a>
                            </li>
                            <li id="menu4">
                                <a class="drop" href="/contact">CONTACT</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="header1">
                    <div class="spacesearch" id="soso">
                        <div id="box_413546135">
                            <div xmlns="" class="columnSpace" id="elem-FrontProducts_generalSearch01-13759478123710" name="商品搜索">
                                <script type="text/javascript" src="/js/products/FrontProducts_generalSearch01.js"></script>
                                <script type="text/javascript" src="/js/i18n/FrontProducts_generalSearch01.js"></script>
                                <div id="FrontProducts_generalSearch01-13759478123710" class="FrontProducts_generalSearch01-d1_c1">
                                    <form id="FrontProducts_generalSearch01-13759478123710_searchForm" name="FrontProducts_generalSearch01-13759478123710_searchForm" method="post" target="_self" onsubmit="return FrontProducts_generalSearch01.validateForm('FrontProducts_generalSearch01-13759478123710','true','Please enter the key');"
                                        action="/FrontProducts.do?method=submit">
                                        <input type="hidden" id="FrontProducts_generalSearch01-13759478123710_searchType" name="searchType" value="1" />
                                        <input type="hidden" id="FrontProducts_generalSearch01-13759478123710_propertyType" value="2" />
                                        <input type="hidden" id="FrontProducts_generalSearch01-13759478123710_areaType" value="" />
                                        <input type="hidden" name="action_page" value="/products_search_result.html" />
                                        <span class="keyword">
                                        <input id="FrontProducts_generalSearch01-13759478123710_keyword" name="keyword" class="input input-gray" type="text" value="" onfocus="FrontProducts_generalSearch01.keyover('FrontProducts_generalSearch01-13759478123710','Please enter the key')" onblur="FrontProducts_generalSearch01.keyout('FrontProducts_generalSearch01-13759478123710','Please enter the key')"
                                            maxlength="50" />
                                        </span>
                                        <input id="FrontProducts_generalSearch01-13759478123710_propertyId" type="hidden" value="" />
                                        <span class="search1">
	                                    <input type="submit" class="btn btn-com-03" value=""/>
		                                </span>
                                    </form>
                                    <script type="text/javascript">
                                        //<![CDATA[
                                        FrontProducts_generalSearch01.keyout('FrontProducts_generalSearch01-13759478123710', 'Please enter the key');
                                        //]]>
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="line-height: 18px;margin-top: -40px; width: 197px;float: right;">
            <a href="/cn">CN</a>
        </div>
        <style type="text/css">
            #ie6-warning {
                background: #06C;
                position: absolute;
                top: 0;
                left: 0;
                font-size: 20px;
                color: #fff;
                width: 97%;
                padding: 2px 15px 2px 23px;
                text-align: center;
                z-index: 9999;
                height: 100px;
                line-height: 28px;
            }

            #ie6-warning a {
                text-decoration: none;
            }
        </style>
        <!--[if lte IE 6]>

<div id="ie6-warning">您正在使用 Internet Explorer 6，在本页面的显示效果可能有差异。建议您升级到 

<a href="http://www.microsoft.com/china/windows/internet-explorer/" target="_blank">Internet Explorer 8</a> 

或以下浏览器： <a href="http://www.mozillaonline.com/">Firefox</a><br>

最佳分辨率为：1440px * 990px  谢谢合作

</div>

<script type="text/javascript">

function position_fixed(el, eltop, elleft){  

       // check if this is IE6  

       if(!window.XMLHttpRequest)  

              window.onscroll = function(){  

                     el.style.top = (document.documentElement.scrollTop + eltop)+"px";  

                     el.style.left = (document.documentElement.scrollLeft + elleft)+"px";  

       }  

       else el.style.position = "fixed";  

}

       position_fixed(document.getElementById("ie6-warning"),0, 0);

</script>

<![endif]-->


        <div id="sub_center">
            <div class="box_bannern" id="box_banner">
                <div class="columnSpace" id="elem-FrontPublic_slideShow01-00ss1" name="幻灯展示样式">

                    <script type="text/javascript" src="/js/public/FrontPublic_slideShow01.js"></script>
                    <script type="text/javascript" src="/js/product/product.js"></script>
                    <div id="FrontPublic_slideShow01-00ss1" class="FrontPublic_slideShow01-d1_c1">
                        <script type="text/javascript" src="/js/common/png.js"></script>
                        <div class="slide-contente">
                            <div class="slide-pic">
                                <ul></ul>
                            </div>
                            <div class="slide-info-mark"></div>
                            <div class="slide-info">
                                <h3></h3>
                                <div class="slide-text">
                                </div>
                                <div class="slide-tag-text">
                                    <ul></ul>
                                </div>
                            </div>
                        </div>
                        <div class="slide-tag-thumbnail">
                            <div class="arrowhead-left arrowhead"></div>
                            <div class="thumbnail-list">
                                <ul></ul>
                            </div>
                            <div class="arrowhead-right arrowhead"></div>
                            <div class="clearBoth"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="main">
                <div id="main_top">
                    <div id="sub_wrap">
                        <div id="sub_wrappng"></div>
                        <div id="sub_wrapya">

                            <!--内页左侧 开始-->
                            <div id="sub_left">
                                <div class="sub_left_1">
                                    <h3> <span class="titleCn">PRODUCTS</span>

                                        <span class="titleEn"></span>

                                    </h3>

                                    <div class="sub_category">

                                        <div id="box_1ya">

                                            <div class="columnSpace" id="elem-FrontProductsCategory_show01-0012ss" name="商品分类">

                                                <script type="text/javascript" src="/js/widgets/jquery-plugin/jquery.hoverIntent.js"></script>
                                                <script type="text/javascript" src="/js/widgets/jquery-plugin/mbMenu.js"></script>
                                                <script type="text/javascript" src="/js/products/FrontProductsCategory_show01.js"></script>
                                                <script type="text/javascript">
                                                    jQuery(document).ready(function() {
                                                        jQuery("#FrontProductsCategory_show01-0012ss div.vertMenu").buildMenu({
                                                            menuWidth: 170,
                                                            openOnRight: true,
                                                            menuSelector: ".FrontProductsCategory_show01-d2-menuContainer",
                                                            iconPath: "/img/products/",
                                                            hasImages: true,
                                                            fadeInTime: 200,
                                                            fadeOutTime: 200,
                                                            adjustLeft: 0,
                                                            adjustTop: 0,
                                                            opacity: .95,
                                                            openOnClick: false,
                                                            minZindex: 200,
                                                            shadow: false,
                                                            hoverIntent: 0,
                                                            submenuHoverIntent: 0,
                                                            closeOnMouseOut: true
                                                        });
                                                    });
                                                </script>
                                                <div id="FrontProductsCategory_show01-0012ss" class="FrontProductsCategory_show01-d2_c1">
                                                    <div class="menu-first vertMenu">
                                                        <ul class="rootVoices vertical">
                                                            <li class="rootVoice {menu: 'menu_33'} ">
                                                                <a href="" target="_self" class="menu-text1 menu: 'menu_33'">
      Auto Parts</a>
                                                            </li>
                                                            <li class="rootVoice {menu: 'menu_30'} ">
                                                                <a href="" target="_self" class="menu-text1 menu: 'menu_30'">
      Transmission Parts</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div id="menu_33" class="mbmenu">
                                                        <a href="" target="_self" class="{}">
      Oil Pump</a>
                                                        <a href="" target="_self" class="{}">
      Oil Pump Rotor</a>
                                                        <a href="" target="_self" class="{}">
      Valve Lifter</a>
                                                        <a href="" target="_self" class="{}">
      Timing Kit</a>
                                                        <a href="" target="_self" class="{}">
      Timing Chain</a>
                                                        <a href="" target="_self" class="{}">
      Timing Gear</a>
                                                        <a href="" target="_self" class="{}">
      Tensioner</a>
                                                        <a href="" target="_self" class="{}">
      Guide Rail</a>
                                                        <a href="" target="_self" class="{}">
      Spark Plug</a>
                                                        <a href="" target="_self" class="{}">
      Tie Rod End</a>
                                                    </div>
                                                    <div id="menu_30" class="mbmenu">
                                                        <a href="" target="_self" class="{}">
      Chain</a>
                                                        <a href="" target="_self" class="{}">
      Sprocket</a>
                                                        <a href="" target="_self" class="{}">
      Coupling</a>
                                                        <a href="" target="_self" class="{}">
      Pulley</a>
                                                        <a href="" target="_self" class="{}">
      Bush</a>
                                                    </div>
                                                    <div id="menu_27" class="mbmenu">
                                                    </div>
                                                    <div id="menu_32" class="mbmenu">
                                                    </div>
                                                    <div id="menu_39" class="mbmenu">
                                                    </div>
                                                    <div id="menu_26" class="mbmenu">
                                                    </div>
                                                    <div id="menu_31" class="mbmenu">
                                                    </div>
                                                    <div id="menu_29" class="mbmenu">
                                                    </div>
                                                    <div id="menu_28" class="mbmenu">
                                                    </div>
                                                    <div id="menu_21" class="mbmenu">
                                                    </div>
                                                    <div id="menu_37" class="mbmenu">
                                                    </div>
                                                    <div id="menu_23" class="mbmenu">
                                                    </div>
                                                    <div id="menu_34" class="mbmenu">
                                                    </div>
                                                    <div id="menu_24" class="mbmenu">
                                                    </div>
                                                    <div id="menu_38" class="mbmenu">
                                                    </div>
                                                    <div id="menu_25" class="mbmenu">
                                                    </div>
                                                    <div id="menu_22" class="mbmenu">
                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                    <div class="sub_btm"></div>

                                </div>

                                <div class="sub_left_2">

                                    <p class="sub_title"></p>

                                    <div class="sub_cate" id="box_kkk">

                                        <div xmlns="" class="columnSpace" id="elem-FrontSpecifies_show01-13sgg780ff3" name="说明页">

                                            <div id="FrontSpecifies_show01-13sgg780ff3" class="FrontSpecifies_show01-d1_c1">
                                                <p>
                                                    Tel: +86-512-65830037<br /> Fax: +86-512-65529992</p>
                                            </div>

                                        </div>

                                    </div>

                                    <div class="sub_btmya"></div>

                                </div>

                            </div>

                            <!--内页左侧 结束-->

                            <div id="sub_right">

                                <div id="sub_right_title">

                                    <h2>

                                        <span class="location">LOCAL: 

                        <a href="/">HOME</a> - PRODUCTS -

                        <span class="sitemap"></span>

                                        </span>

                                        <span class="sitemap"></span>

                                    </h2>

                                </div>

                                <div id="right_content">

                                    <!--内页右侧内容区域 开始 -->

                                    <div id="sub_right_content">

                                        <!-- 插入组件的位置-->

                                        <div class="Rcontent">

                                            <div id="box_222">

                                                <div class="columnSpace" id="elem-FrontProducts_list01-004fs" name="商品列表展示">
                                                    <script type="text/javascript" src="/js/products/FrontProducts_list01.js"></script>
                                                    <script type="text/javascript" src="/js/i18n/FrontProducts_list01.js"></script>
                                                    <div id="FrontProducts_list01-004fs" class="FrontProducts_list01-d1_c1">
                                                        <form id="FrontProducts_list01-004fs_Form" name="FrontProducts_list01-004fs_Form" action="/FrontProducts.do?method=submit" method="post">
                                                            <input type="hidden" name="action_page" value="/products_list" />
                                                            <input type="hidden" name="pmcId" value="36" />
                                                            <input type="hidden" name="pmscId" value="" />
                                                            <input type="hidden" name="keyword" value="" />
                                                            <input type="hidden" name="propertyId" value="" />
                                                            <input type="hidden" name="searchType" value="" />
                                                            <input type="hidden" name="brandId" value="" />
                                                            <input type="hidden" name="beginValue" value="" />
                                                            <input type="hidden" name="endValue" value="" />
                                                            <input type="hidden" name="orderby" value="3" />
                                                            <input type="hidden" name="spType" value="" />
                                                            <input type="hidden" name="pageNo_FrontProducts_list01-004fs" value="1" />
                                                            <input type="hidden" name="pageSize_FrontProducts_list01-004fs" value="6" />
                                                        </form>
                                                        <div class="type">
                                                            <span class="sort">
				</span>
                                                        </div>
                                                        <ul class="mainul productlist-02">
                                                            <li class="content column-num3">
                                                                <div class="pic-module">
                                                                    <div class="pic">
                                                                        <a href="/products_detail/productId=411.html" title="VW 026  115  105B" target="_self">
											<img src= "/imageRepository/2a19202f-9426-4847-a017-320a4c600561.jpg" id= "FrontProducts_list01-004fs_411" alt= "" title= "VW 026  115  105B" onerror= "this.src='/images/common/noimage.jpg'" /></a>
                                                                    </div>
                                                                </div>
                                                                <div class="pro-module">
                                                                    <ul class="basic">
                                                                        <li class="code">
                                                                            <h1>
                                                                                <span>Name: </span>
                                                                                <strong>
											<a href="/products_detail/productId=411.html"
												title="VW 026  115  105B"
												target="_self"
												>
												VW 026  115  105B</a>
										</strong>
                                                                            </h1>
                                                                        </li>
                                                                    </ul>
                                                                    <p class="buttonP">
                                                                    </p>
                                                                </div>
                                                            </li>
                                                            <li class="content column-num3">
                                                                <div class="pic-module">
                                                                    <div class="pic">
                                                                        <a href="/products_detail/productId=102.html" title="DAEWOO 9 6 3 5 0 1 5 9/ 9 6 5 4 1 5 0 5" target="_self">
											<img src= "/imageRepository/2ba0585f-7dfe-4fee-99f4-0100691a11e5.jpg" id= "FrontProducts_list01-004fs_102" alt= "" title= "DAEWOO 9 6 3 5 0 1 5 9/ 9 6 5 4 1 5 0 5" onerror= "this.src='/images/common/noimage.jpg'" /></a>
                                                                    </div>
                                                                </div>
                                                                <div class="pro-module">
                                                                    <ul class="basic">
                                                                        <li class="code">
                                                                            <h1>
                                                                                <span>Name: </span>
                                                                                <strong>
											<a href="/products_detail/productId=102.html"
												title="DAEWOO 9 6 3 5 0 1 5 9/ 9 6 5 4 1 5 0 5"
												target="_self"
												>
												DAEWOO 9 6 3 5 0 1 5 9/ 9 6 5 4 1 5 0 5</a>
										</strong>
                                                                            </h1>
                                                                        </li>
                                                                    </ul>
                                                                    <p class="buttonP">
                                                                    </p>
                                                                </div>
                                                            </li>
                                                            <li class="content column-num3">
                                                                <div class="pic-module">
                                                                    <div class="pic">
                                                                        <a href="/products_detail/productId=350.html" title="021.115.105B" target="_self">
											<img src= "/imageRepository/10f4dda5-ec4d-43d3-b1db-e908df342d3e.jpg" id= "FrontProducts_list01-004fs_350" alt= "" title= "021.115.105B" onerror= "this.src='/images/common/noimage.jpg'" /></a>
                                                                    </div>
                                                                </div>
                                                                <div class="pro-module">
                                                                    <ul class="basic">
                                                                        <li class="code">
                                                                            <h1>
                                                                                <span>Name: </span>
                                                                                <strong>
											<a href="/products_detail/productId=350.html"
												title="021.115.105B"
												target="_self"
												>
												021.115.105B</a>
										</strong>
                                                                            </h1>
                                                                        </li>
                                                                    </ul>
                                                                    <p class="buttonP">
                                                                    </p>
                                                                </div>
                                                            </li>
                                                            <li class="clearBoth"></li>
                                                            <li class="content column-num3">
                                                                <div class="pic-module">
                                                                    <div class="pic">
                                                                        <a href="/products_detail/productId=468.html" title="2108" target="_self">
											<img src= "/imageRepository/014dfec9-c021-4923-aad2-e21a125d51f1.jpg" id= "FrontProducts_list01-004fs_468" alt= "" title= "2108" onerror= "this.src='/images/common/noimage.jpg'" /></a>
                                                                    </div>
                                                                </div>
                                                                <div class="pro-module">
                                                                    <ul class="basic">
                                                                        <li class="code">
                                                                            <h1>
                                                                                <span>Name: </span>
                                                                                <strong>
											<a href="/products_detail/productId=468.html"
												title="2108"
												target="_self"
												>
												2108</a>
										</strong>
                                                                            </h1>
                                                                        </li>
                                                                    </ul>
                                                                    <p class="buttonP">
                                                                    </p>
                                                                </div>
                                                            </li>
                                                            <li class="content column-num3">
                                                                <div class="pic-module">
                                                                    <div class="pic">
                                                                        <a href="/products_detail/productId=336.html" title="2109" target="_self">
											<img src= "/imageRepository/bf38a762-b3d6-4817-8b9c-18f2b02710f7.jpg" id= "FrontProducts_list01-004fs_336" alt= "" title= "2109" onerror= "this.src='/images/common/noimage.jpg'" /></a>
                                                                    </div>
                                                                </div>
                                                                <div class="pro-module">
                                                                    <ul class="basic">
                                                                        <li class="code">
                                                                            <h1>
                                                                                <span>Name: </span>
                                                                                <strong>
											<a href="/products_detail/productId=336.html"
												title="2109"
												target="_self"
												>
												2109</a>
										</strong>
                                                                            </h1>
                                                                        </li>
                                                                    </ul>
                                                                    <p class="buttonP">
                                                                    </p>
                                                                </div>
                                                            </li>
                                                            <li class="content column-num3">
                                                                <div class="pic-module">
                                                                    <div class="pic">
                                                                        <a href="/products_detail/productId=72.html" title="2110" target="_self">
											<img src= "/imageRepository/330d221e-54b8-4bbf-92b1-c11636e24427.jpg" id= "FrontProducts_list01-004fs_72" alt= "" title= "2110" onerror= "this.src='/images/common/noimage.jpg'" /></a>
                                                                    </div>
                                                                </div>
                                                                <div class="pro-module">
                                                                    <ul class="basic">
                                                                        <li class="code">
                                                                            <h1>
                                                                                <span>Name: </span>
                                                                                <strong>
											<a href="/products_detail/productId=72.html"
												title="2110"
												target="_self"
												>
												2110</a>
										</strong>
                                                                            </h1>
                                                                        </li>
                                                                    </ul>
                                                                    <p class="buttonP">
                                                                    </p>
                                                                </div>
                                                            </li>
                                                            <li class="clearBoth"></li>
                                                        </ul>
                                                        <div class="skip-pages">
                                                            <div class="bottom">
                                                                <div class="pageJump">
                                                                    <div class="totalcount">current show 1-6 record total 572 record </div>
                                                                    <div class="number"><span class="disabled">first</span><span class="disabled">previous</span><span class="current">1</span><a href="#" onclick="return jump_2edd1829e1b9485eb03d6ce2be5ee2d5(2,6);">2</a>
                                                                        <a
                                                                            href="#" onclick="return jump_2edd1829e1b9485eb03d6ce2be5ee2d5(3,6);">3</a><span class="omit">...</span><a href="#" onclick="return jump_2edd1829e1b9485eb03d6ce2be5ee2d5(95,6);">95</a><a href="#" onclick="return jump_2edd1829e1b9485eb03d6ce2be5ee2d5(96,6);">96</a>
                                                                            <a
                                                                                href="#" onclick="return jump_2edd1829e1b9485eb03d6ce2be5ee2d5(2,6);">next</a><a href="#" onclick="return jump_2edd1829e1b9485eb03d6ce2be5ee2d5(96,6);">last</a></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <script type="text/javascript">
                                                            //<![CDATA[
                                                            FrontProducts_list01['FrontProducts_list01-004fs_init'] = function() {
                                                                jQuery(".specChangeImg").click(function() {
                                                                    var data = $(this).metadata();
                                                                    var srcStr = data.smallImgUrl;
                                                                    var defaultImg = data.defaultImg;
                                                                    $(this).parent().find(".specChangeImg").removeClass("click");
                                                                    $(this).addClass("click")
                                                                    if (srcStr != "") {
                                                                        jQuery("#FrontProducts_list01-004fs_" + data.id).attr("src", srcStr);
                                                                    } else {
                                                                        if (defaultImg != "") {
                                                                            jQuery("#FrontProducts_list01-004fs_" + data.id).attr("src", defaultImg);
                                                                        } else {
                                                                            jQuery("#FrontProducts_list01-004fs_" + data.id).attr("src", "/img/common/noimage.jpg");
                                                                        }
                                                                    }
                                                                });
                                                            };
                                                            jQuery(document).ready(FrontProducts_list01['FrontProducts_list01-004fs_init']);
                                                            //]]>
                                                        </script>
                                                    </div>
                                                    <script type="text/javascript">
                                                    </script>
                                                </div>

                                            </div>

                                        </div>

                                        <!-- 插入组件的位置-->

                                        <script type="text/javascript">
                                            $(document).ready(function() {

                                                $(".Rcontent").jscroll({

                                                    W: "4px"

                                                        ,
                                                    BgUrl: "url(/img/my/s_bg2.gif)"

                                                        ,
                                                    Bg: "-7px 0 repeat-y"

                                                        ,
                                                    Bar: {
                                                        Bd: {
                                                            Out: "#e3e3e3",
                                                            Hover: "#e3e3e3"
                                                        }

                                                        ,
                                                        Bg: {
                                                            Out: "-19px 0 repeat-y",
                                                            Hover: "-19px 0 repeat-y",
                                                            Focus: "-19px 0 repeat-y"
                                                        }
                                                    }

                                                    ,
                                                    Btn: {
                                                        btn: true

                                                            ,
                                                        uBg: {
                                                            Out: "0 0",
                                                            Hover: "0px 0",
                                                            Focus: "0px 0"
                                                        }

                                                        ,
                                                        dBg: {
                                                            Out: "0 -8px",
                                                            Hover: "0px -8px",
                                                            Focus: "0px -8px"
                                                        }
                                                    }

                                                    ,
                                                    Fn: function() {}

                                                });

                                            });
                                        </script>

                                        <!-- 插入组件的位置-->

                                        <div class="btm"></div>

                                    </div>

                                    <!--内页右侧 结束-->

                                </div>

                            </div>

                            <!--内页左侧第三部分 结束-->

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <!--内页左侧 结束-->

        <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />

        <title>欣泰国际有限公司</title>

        <div id="footer_bg">

            <!-- 插入组件的位置-->

            <div class="footer">

                <div id="box_xxxzfmsg" style="width:auto; height:auto;">

                    <div id="box_xxxzfmsg_sub1" STYLE="width:624px; height:238px; float:left;">

                        <div xmlns="" class="columnSpace" id="elem-FrontSpecifies_show01-14239672938481" name="说明页">

                            <div id="FrontSpecifies_show01-14239672938481" class="FrontSpecifies_show01-d1_c1">
                                <table border="0" cellpadding="0" cellspacing="0" style="text-align: center; width: 600px; height: 159px; padding-top: 20px;">
                                    <tbody>
                                        <tr style="font-size: 14px; font-weight: bold;">
                                            <td>
                                                ABOUT US</td>
                                            <td>
                                                RPODUCTS</td>
                                            <td>
                                                FEEDBACK</td>
                                            <td>
                                                CONTACT US</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="/about">PROFILE</a></td>
                                            <td>
                                                <a href="/products_list">AUTO PARTS</a></td>
                                            <td>
                                                <a href="/feedback">MESSAGES</a></td>
                                            <td>
                                                <a href="/contact">TRANMISSION PARTS</a></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="/culture">CULTURE</a></td>
                                            <td>
                                                <a href="/products_list">TRANMISSION PARTS</a></td>
                                            <td>
                                                <a href="/feedback_list">VIEW MSG</a></td>
                                            <td>
                                                <!--<a href="/products_list">AUTO PARTS</a>-->
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="/honors">HONOR</a></td>
                                            <td>
                                                &nbsp;</td>
                                            <td>
                                                &nbsp;</td>
                                            <td>
                                                &nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="/technology">TECHNOLOGY</a></td>
                                            <td>
                                                &nbsp;</td>
                                            <td>
                                                &nbsp;</td>
                                            <td>
                                                &nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>

                    </div>

                    <div id="box_xxxzfmsg_sub2" STYLE="width:380px; height:238px; float:right;">

                        <div xmlns="" class="columnSpace" id="elem-FrontSpecifies_show01-1423967628025" name="说明页">

                            <div id="FrontSpecifies_show01-1423967628025" class="FrontSpecifies_show01-d3_c1">
                                <div class="describe htmledit">
                                    <p>
                                        <img alt="" src="/imageRepository/9ed6de4b-8569-40cf-b771-be6b13d8d08e.jpg" usemap="#ckMap0" /><map name="ckMap0"><area coords="55,167,167,191" href="mailto:tai@tran-auto.com" shape="rect" /></map></p>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="clearBoth"></div>

                </div>

                <!-- 插入组件的位置-->

            </div>

        </div>
        <div id="box_z9adiqbax" style="background:url(/images/my/bottom_bg.jpg); width:100%; height:42px;">
            <div id="box_040fff" style=" margin:0 auto; width:1004px;line-height: 42px;">

                <div xmlns="" class="columnSpace" id="elem-FrontSpecifies_show01-14239672938482" name="说明页">

                    <div id="FrontSpecifies_show01-14239672938482" class="FrontSpecifies_show01-d1_c1">
                        <p style="text-align: center;">
                            Copyright &copy;&nbsp;&nbsp;<span>昆山智泉機械有限公司</span>&nbsp;&nbsp;<a class="hui" href="http://www.miitbeian.gov.cn/icp/publish/query/icpMemoInfo_login.action?id=19279298" style="color: blue; text-decoration: underline;"></a>&nbsp;&nbsp;
                            <a href="http://"></a>&nbsp; <a href="http://" target="_blank"><span style="color:#000000;">友</span></a><a href="http://" target="_blank"><span style="color:#000000;">情</span></a>
                            <span
                                style="color:#000000;">链接</span>
                        </p>
                    </div>

                </div>
            </div>


            <div id="box_040ffkxf">
                <div id="elem-FrontPublic_trust01-001" name="可信网站" class="columnSpace">
                    <div id="FrontPublic_trust01-001" class="null">
                        <div class="image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--内页右侧 开始-->

        <div id="sub_Aboutljc">关于我们</div>

    </div>
</body>

</html>